@model YandS.UI.Models.CaseRegistrationVM
@{
    ViewBag.Title = "Y & S ASSOCIATES - CASE REGISTRATION MODIFICATION";
}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>CASE REGISTRATION</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">CASE REGISTRATION</li>
                        <li class="breadcrumb-item active"><a href="#">MODIFY CASE REGISTRATION</a></li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return onPreSubmit(this);" }))
        {
            @Html.AntiForgeryToken()
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">REGISTRATION</h3>
            </div>
            <div id="div-CaseDetail">
                <div class="card-header bg-maroon">
                    <div class="text-center">
                        <h4><span id="spanOfficeFileNo">@ViewBag.OfficeFileNo</span><span class="YandSTitleSpacing">-</span><span id="spanClientName">@ViewBag.ClientName</span><span class="YandSTitleSpacing">-</span><span id="spanDefendant">@ViewBag.Defendant</span></h4>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <div class="card-body">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.CaseRegistrationId)
                    @Html.HiddenFor(model => model.CaseId)
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="col-sm-12">
                                <div class="row">
                                    <label for="OfficeFileNo"><span id="lblOfficeFileNo">Y & S FILE</span></label>
                                    <div class="input-group mb-3">
                                        <input id="OfficeFileNo" class="form-control form-control-lg" type="text" value="@ViewBag.OfficeFileNo">
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-info" id="btnCaseSearch">
                                                SEARCH
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="dispACCNO">A/C</label>
                                <input id="dispACCNO" type="text" class="form-control" value="@ViewBag.dispACCNO" disabled>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="dispCFNO">CF.</label>
                                <input id="dispCFNO" type="text" class="form-control" value="@ViewBag.dispCFNO" disabled>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ActionLevel)
                                @Html.DropDownList("ActionLevel", null, htmlAttributes: new { @class = "form-control select2bs4" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.AdminFile)
                                @Html.EditorFor(model => model.AdminFile, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>

                    <div id="DivActionLevelDetail" class="card card-primary">
                        <div id="h3ActionLevelTitle" class="text-center card-header">
                            <h3><span id="SpanActionLevelTitle"></span></h3>
                        </div>

                        <div class="card-body">
                            <div id="DivActionLevelDetail">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div id="divReceptionDate" class="form-group AppHidden">
                                            <label for="ReceptionDate">RECEIVED DATE</label>
                                            @Html.EditorFor(model => model.ReceptionDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                        <div id="divJudgementDate" class="form-group AppHidden">
                                            <label for="JudgementDate"><span id="lblJudgementDate"></span></label>
                                            @Html.EditorFor(model => model.JudgementDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                        </div>
                                        <div id="divEnforcementDispute" class="form-group AppHidden">
                                            @Html.LabelFor(model => model.EnforcementDispute)
                                            @Html.DropDownList("EnforcementDispute", null, htmlAttributes: new { @class = "form-control select2bs4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <label for="CourtRegistration"><span id="lblCourtRegistration"></span></label>
                                                <div class="input-group mb-3">
                                                    @Html.DropDownList("CourtRegistration", null, htmlAttributes: new { @class = "form-control select2bs4" })
                                                    <div class="input-group-append">
                                                        <button type="button" class="btn btn-info AddNewMaster" id="4">
                                                            Add
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FileStatus)
                                            @Html.DropDownList("FileStatus", null, htmlAttributes: new { @class = "form-control select2bs4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ActionDate)
                                            @Html.EditorFor(model => model.ActionDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="DivFileStatusDetail" class="card card-success AppHidden">
                        <div id="h3FileStatusTitle" class="text-center card-header">
                            <h3><span id="SpanFileStatusTitle"></span></h3>
                        </div>
                        <div class="card-body">
                            <div id="1" class="row AppHidden">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="ReceptionDate">SENT DATE</label>
                                        @Html.EditorFor(model => model.SendDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="ReceptionDate">OMAN POSTE NO.</label>
                                        @Html.EditorFor(model => model.OmanPostNo, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="ReceptionDate">1ST REMINDER</label>
                                        @Html.EditorFor(model => model.FirstReminderDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="ReceptionDate">REMINDER NO.</label>
                                        @Html.EditorFor(model => model.ReminderNo, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div id="divFileStatusRemarks" class="col-sm-12 cls7 cls6 cls3 AppHidden">
                                    <div class="form-group">
                                        <label for="FileStatusRemarks"><span id="lblFileStatusRemarks"></span></label>
                                        @Html.EditorFor(model => model.FileStatusRemarks, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="col-sm-3 cls6 AppHidden">
                                    <div class="form-group">
                                        <label for="CourtMessage">COURT REQUEST</label>
                                        @Html.TextAreaFor(model => model.CourtMessage, 5, 200, new { @class = "form-control", @placeholder = "Please Enter Court Request" })
                                    </div>
                                </div>
                                <div class="col-sm-3 cls6 AppHidden">
                                    <div class="form-group">
                                        <label for="CourtRequestDate">REQUEST DATE</label>
                                        @Html.EditorFor(model => model.CourtRequestDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                    </div>
                                </div>
                                <div class="col-sm-3 cls6 AppHidden">
                                    <div class="form-group">
                                        <label for="OfficeProcedure">OFFICE PROCEDURE</label>
                                        @Html.TextAreaFor(model => model.OfficeProcedure, 5, 200, new { @class = "form-control", @placeholder = "Please Enter Office Procedure" })
                                    </div>
                                </div>

                                <div class="col-sm-2 cls7 AppHidden">
                                    <label for="PaymentDate">PAYMENT DATE</label>
                                    @Html.EditorFor(model => model.PaymentDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                </div>
                                <div class="col-sm-3 cls7 AppHidden">
                                    <div class="form-group">
                                        <label for="AssignedTo">ASSIGNED NO.</label>
                                        @Html.EditorFor(model => model.AssignedTo, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="col-sm-2 cls7 AppHidden">
                                    <label for="AssignedDate">ASSIGNED DATE</label>
                                    @Html.EditorFor(model => model.AssignedDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                </div>
                                <div class="col-sm-3 cls7 AppHidden">
                                    <div class="form-group" style="padding-top:30px;">
                                        <div class="icheck-primary d-inline">
                                            @Html.CheckBoxFor(model => model.CourtDetailRegistered, new {  @onchange = "valueChanged()" })
                                            @Html.LabelFor(model => model.CourtDetailRegistered)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="divRegistered" class="card card-success AppHidden">
                        <div id="h3RegisteredTitle" class="text-center card-header">
                            <h3><span id="SpanCourtTitle"></span></h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CourtReg_RegDate)
                                        @Html.EditorFor(model => model.CourtReg_RegDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="CourtReg_RegNo"><span id="lblCourtReg_RegNo"></span></label>
                                        @Html.EditorFor(model => model.CourtReg_RegNo, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <label for="CourtReg_RegCourt"><span id="lblCourtReg_RegCourt"></span></label>
                                            <div class="input-group mb-3">
                                                @Html.DropDownList("CourtReg_RegCourt", null, htmlAttributes: new { @class = "form-control select2bs4" })
                                                <div class="input-group-append">
                                                    <button type="button" class="btn btn-info AddNewMaster" id="btn_RegCourt">
                                                        Add
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 clsP AppHidden">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CourtReg_ClaimAmount)
                                        @Html.EditorFor(model => model.CourtReg_ClaimAmount, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="col-sm-3 clsAS AppHidden">
                                    <div class="form-group">
                                        <label for="CourtReg_Regby"><span id="lblCourtReg_Regby"></span></label>
                                        @Html.DropDownList("CourtReg_Regby", null, htmlAttributes: new { @class = "form-control select2bs4" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <button type="SUBMIT" class="btn btn-secondary"><i class="fas fa-save"></i> SAVE</button>
                <button title="BACK TO CASE REGISTRATION LIST" class="btn btn-secondary" onclick="location.href='@Url.Action("IndexMain","CaseRegistration")';return false;" id=@Model.CaseRegistrationId><i class="fas fa-home"></i> BACK TO LIST</button>
                <button title="REGISTRATION" class="btn btn-secondary" onclick="location.href='@Url.Action("Create", "CaseRegistration")';return false;"><i class="fas fa-file-excel-o"></i> REGISTRATION</button>
            </div>
        </div>

        }
    </section>
    <!-- /.content -->
    <div class="modal fade" id="modal-AddMasterValue">
        <div class="modal-dialog">
            <div class="modal-content bg-gradient-light">
                <div class="modal-header">
                    <h4 class="modal-title"><span id="ModalTitle">Add Client</span></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="MstParentId" class="form-control" value="@ViewBag.MstParentId" />
                    <input type="text" id="MstDesc" class="form-control" placeholder="Enter New Description" />
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
                    <button type="button" onclick="ProcessAddClient()" class="btn btn-outline-dark">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</div>


@section pagespecific {

    <script type="text/javascript">
    var CreateMasterTableDetailURL = '@Url.Action("CreateMasterTableDetail", "CommonTask", new { area = string.Empty })';
    var GetCaseDetailURL = '@Url.Action("GetCaseDetailByCaseId", "CommonTask", new { area = string.Empty })';
    var GetRegisterCourtURL = '@Url.Action("GetRegisterCourtDetail", "CommonTask", new { area = string.Empty })';
    var LoadFileStatusURL = '@Url.Action("LoadFileStatusddl", "CommonTask", new { area = string.Empty })';

    var IsValidOfficeFileNo = true;

    function onPreSubmit(item) {

        if ($("#OfficeFileNo").val() == "") {
            Swal.fire({
                type: "error",
                title: 'ERROR...',
                html: 'PLEASE ENTER VALID OFFICE FILE NUMBER'
            });
            return false;
        }

        if ($("#div-CaseDetail").hasClass("AppHidden")) {
            Swal.fire({
                type: "error",
                title: 'ERROR...',
                html: 'PLEASE CLICK ON SEARCH BUTTON TO VALIDATE OFFICE FILE NUMBER'
            });
            return false;
        }

        if ($("#ActionDate").val() == "") {
            Swal.fire({
                type: "error",
                title: 'ERROR...',
                html: 'PLEASE ENTER ACTION DATE'
            });
            return false;
        }

        if ($("#ActionLevel").val() == "" || $("#ActionLevel").val() == "0") {
            Swal.fire({
                type: "error",
                title: 'ERROR...',
                html: 'PLEASE SELECT ACTION LEVEL'
            });
            return false;
        }
        else if ($("#ActionLevel").val() == "4") {
            if ($("#EnforcementDispute").val() == "" || $("#EnforcementDispute").val() == "0") {
                Swal.fire({
                    type: "error",
                    title: 'ERROR...',
                    html: 'PLEASE SELECT ENFORCEMENT DISPUTE'
                });
                return false;
            }
        }
        else if ($("#ActionLevel").val() == "2" || $("#ActionLevel").val() == "3") {
            if ($("#JudgementDate").val() == "") {
                Swal.fire({
                    type: "error",
                    title: 'ERROR...',
                    html: 'PLEASE ENTER JUDGEMENT DATE'
                });
                return false;
            }
        }

        if ($("#CourtRegistration").val() == "" || $("#CourtRegistration").val() == "0") {
            Swal.fire({
                type: "error",
                title: 'ERROR...',
                html: 'PLEASE SELECT COURT REGISTRATION'
            });
            return false;
        }

        if ($("#FileStatus").val() == "" || $("#FileStatus").val() == "0") {
            Swal.fire({
                type: "error",
                title: 'ERROR...',
                html: 'PLEASE SELECT FILE STATUS'
            });
            return false;
        }
        else if ($("#FileStatus").val() == "3" || $("#FileStatus").val() == "6" || $("#FileStatus").val() == "7" || $("#FileStatus").val() == "9" || $("#FileStatus").val() == "10") {
            if ($("#FileStatusRemarks").val() == "") {
                Swal.fire({
                    type: "error",
                    title: 'ERROR...',
                    html: 'PLEASE ENTER RELATED FILE STATUS REMARKS'
                });
                return false;
            }
        }

    }

    function ProcessAddClient() {
        if ($("#MstDesc").val() != "") {
            console.log(parseInt($("#MstParentId").val()));
            console.log($("#MstDesc").val());
            var _MstDesc = $("#MstDesc").val();
            var _MstParentId = parseInt($("#MstParentId").val());

            _parameters = { Mst_Desc: _MstDesc, MstParentId: _MstParentId };
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify(_parameters),
                url: CreateMasterTableDetailURL,
                success: function (Result) {

                    if (Result.Message == "Success") {
                        var newOption = new Option(Result.name, Result.id, true, true);
                        DDLToAppend.append(newOption).trigger('change');
                        $('#modal-AddMasterValue').modal('hide');

                    }
                    else {
                        $('#modal-AddMasterValue').modal('hide');
                        Swal.fire({
                            type: "error",
                            title: 'Error...',
                            html: Result.ErrorMessage
                        });
                    }
                }
            });
        }
        else {
            // Failed show errors
            console.log("Failed errors");
            Swal.fire({
                type: "error",
                title: 'Error...',
                html: 'Please Enter Description of List'
            });
        }
    }

    function GetCaseDetail(p_OfficeFileNo) {
        console.log(p_OfficeFileNo);

        _parameters = { OfficeFileNo: p_OfficeFileNo };
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: JSON.stringify(_parameters),
            url: GetCaseDetailURL,
            success: function (Result) {
                console.log(Result);
                //console.log(Result.ClientName);
                //console.log(Result.length);

                if (Result.CaseId > 0) {
                    IsValidOfficeFileNo = true;
                    $("#CaseId").val(Result.CaseId);
                    $('#spanOfficeFileNo').text(Result.OfficeFileNo);
                    $('#spanClientName').text(Result.ClientName);
                    $('#spanDefendant').text(Result.Defendant);
                    $('#ReceptionDate').val(Result.ReceptionDate);
                    $('#dispACCNO').val(Result.AccountContractNo);
                    $('#dispCFNO').val(Result.ClientFileNo);

                    //LoadCaseLevel(p_OfficeFileNo);
                    $("#div-CaseDetail").removeClass("AppHidden");

                    if (Result.RegistrationLevel != "") {
                        Swal.fire({
                            type: "info",
                            title: 'FILE NO IS ALREADY REGISTERED',
                            html: Result.RegistrationLevel
                        });
                    }
                }
                else {
                    IsValidOfficeFileNo = false;
                    //var $select = $('#CourtType');
                    //$select.find('option').remove();
                    //<h4><span id="spanOfficeFileNo"></span><span class="YandSTitleSpacing">-</span><span id="spanClientName"></span><span class="YandSTitleSpacing">-</span><span id="spanDefendant"></span></h4>
                    $('#spanOfficeFileNo').text("");
                    $('#spanClientName').text("");
                    $('#spanDefendant').text("");
                    $('#dispACCNO').val("");
                    $('#dispCFNO').val("");

                    Swal.fire({
                        type: "info",
                        title: 'INFO',
                        html: 'OFFICE FILE NO ' + p_OfficeFileNo + ' NOT FOUND IN DATABASE PLEASE MAKE SURE THE FILE NO IS CORRECT'
                    });
                    $('#OfficeFileNo').val("");
                    $("#div-CaseDetail").removeClass("AppHidden").addClass("AppHidden");
                }

            },
            error: function (response) {
                console.log("error");

                console.log(response.responseText);
            },
            failure: function (response) {
                console.log("failure");
                console.log(response.responseText);
            }
        });
    }

        function LoadFileStatus(p_Id, selectId) {
            console.log(p_Id);

            _parameters = { Id: p_Id };
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify(_parameters),
                url: LoadFileStatusURL,
                success: function (Result) {
                    console.log(Result);
                    console.log(Result.length);

                    if (Result.length > 0) {
                        var $select = $("#" + selectId);

                        $select.find('option').remove();

                        for (var i = 0; i < Result.length; i++) {
                            key = Result[i].Mst_Value;
                            value = Result[i].Mst_Desc;

                            $select.append('<option value=' + key + '>' + value + '</option>');
                        }
                        $select.val("0");
                    }
                    else {
                        var $select = $("#" + selectId);
                        $select.find('option').remove();
                    }
                },
                error: function (response) {
                    console.log("error");

                    console.log(response.responseText);
                },
                failure: function (response) {
                    console.log("failure");
                    console.log(response.responseText);
                }
            });
        }

        function valueChanged() {
            console.log("valueChanged");
            if ($('#CourtDetailRegistered').is(":checked")) {

                if ($("#OfficeFileNo").val() == "") {
                    Swal.fire({
                        type: "error",
                        title: 'ERROR...',
                        html: 'PLEASE ENTER VALID OFFICE FILE NUMBER FOR LOADING REGISTERED COURT INFO'
                    });
                    $("#CourtDetailRegistered").prop('checked', false);
                    return false;
                }

                p_OfficeFileNo = $("#OfficeFileNo").val();
                $ActionLevel = $("#ActionLevel").val();

                console.log(p_OfficeFileNo);
                console.log($ActionLevel);

                _parameters = { OfficeFileNo: p_OfficeFileNo, ActionLevel: $ActionLevel };
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    data: JSON.stringify(_parameters),
                    url: GetRegisterCourtURL,
                    success: function (Result) {
                        console.log(Result);
                        //console.log(Result.ClientName);
                        //console.log(Result.length);

                        $('#CourtReg_RegDate').val(Result.CourtReg_RegDate);
                        $('#CourtReg_RegNo').val(Result.CourtReg_RegNo);
                        $('#CourtReg_RegCourt').val(Result.CourtReg_RegCourt).trigger('change');
                        $('#CourtReg_Regby').val(Result.CourtReg_Regby);
                        $('#CourtReg_ClaimAmount').val(Result.CourtReg_ClaimAmount);

                        if ($ActionLevel == "1") {

                            $("#SpanCourtTitle").text("PRIMARY REGISTERED");
                            $("#lblCourtReg_RegNo").text("PRIMARY NO");
                            $("#lblCourtReg_RegCourt").text("PRIMARY COURT");
                            $("#h3RegisteredTitle").removeClass("CaseRegAppeal CaseRegSupreme").addClass("CaseRegNewCase");
                            $(".clsP").removeClass("AppHidden");
                            $(".clsAS").removeClass("AppHidden").addClass("AppHidden");

                        }
                        else if ($ActionLevel == "2") {
                            $("#SpanCourtTitle").text("APPEAL REGISTERED");
                            $("#lblCourtReg_RegNo").text("APPEAL NO");
                            $("#lblCourtReg_RegCourt").text("APPEAL COURT");
                            $("#lblCourtReg_Regby").text("APPEAL BY");
                            $("#h3RegisteredTitle").removeClass("CaseRegNewCase CaseRegSupreme").addClass("CaseRegAppeal");
                            $(".clsAS").removeClass("AppHidden");
                            $(".clsP").removeClass("AppHidden").addClass("AppHidden");
                        }
                        else if ($ActionLevel == "3") {
                            $("#SpanCourtTitle").text("SUPREME REGISTERED");
                            $("#lblCourtReg_RegNo").text("SUPREME NO");
                            $("#lblCourtReg_RegCourt").text("SUPREME COURT");
                            $("#lblCourtReg_Regby").text("SUPREME BY");
                            $("#h3RegisteredTitle").removeClass("CaseRegNewCase CaseRegAppeal").addClass("CaseRegSupreme");
                            $(".clsAS").removeClass("AppHidden");
                            $(".clsP").removeClass("AppHidden").addClass("AppHidden");
                        }

                        $("#divRegistered").removeClass("AppHidden");

                    },
                    error: function (response) {
                        console.log("error");

                        console.log(response.responseText);
                    },
                    failure: function (response) {
                        console.log("failure");
                        console.log(response.responseText);
                    }
                });

            }
            else {
                $("#divRegistered").removeClass("AppHidden").addClass("AppHidden");

            }
        }

        $(document).ready(function () {
            console.log("Case Registration Create");
            bsCustomFileInput.init();
            var AlphaNumericSpecial = new RegExp(/^[-@@.\/#&+()\[\]\w\s]*$/);
            $("#FileStatusRemarks").regexMask(AlphaNumericSpecial);
            $("#ActionDate").datepicker({
                format: "dd/mm/yyyy"
            });
            $("#ActionDate").datepicker("setDate", new Date());

            $('.AddNewMaster').on("click", function () {
                console.log(this.id);
                console.log($(this).val());
                var ModalTitle = "";
                $("#MstParentId").val(this.id);

                if (this.id == "4") {
                    ModalTitle = "Add Court Registration";
                    DDLToAppend = $("#CourtRegistration");
                }


                $("#ModalTitle").text(ModalTitle);

                $('#modal-AddMasterValue').modal('show');

            });

            $('#btnCaseSearch').on("click", function () {
                //GET
                //<h4><span id="spanOfficeFileNo"></span><span class="YandSTitleSpacing">-</span><span id="spanClientName"></span><span class="YandSTitleSpacing">-</span><span id="spanDefendant"></span></h4>
                var p_OfficeFileNo = $('#OfficeFileNo').val();
                GetCaseDetail(p_OfficeFileNo);

            });

            if ($("#ActionLevel").val() == "1") {

                $("#divReceptionDate").removeClass("AppHidden");
                $("#lblCourtRegistration").text("PRIMARY COURT");
                $("#SpanActionLevelTitle").text("NEW CASES");
                $("#h3ActionLevelTitle").removeClass("CaseRegAppeal CaseRegSupreme").addClass("CaseRegNewCase");
                //LoadFileStatus("N", "FileStatus");
            }
            else if ($("#ActionLevel").val() == "2") {
                $("#divJudgementDate").removeClass("AppHidden");
                $("#lblJudgementDate").text("PRIMARY JUDGEMENT DATE");
                $("#lblCourtRegistration").text("APPEAL COURT");
                $("#SpanActionLevelTitle").text("APPEAL");
                $("#h3ActionLevelTitle").removeClass("CaseRegNewCase CaseRegSupreme").addClass("CaseRegAppeal");
                //LoadFileStatus("A", "FileStatus");

            }
            else if ($("#ActionLevel").val() == "3") {
                $("#divJudgementDate").removeClass("AppHidden");
                $("#lblJudgementDate").text("APPEAL JUDGEMENT DATE");
                $("#lblCourtRegistration").text("SUPREME COURT");
                $("#SpanActionLevelTitle").text("SUPREME");
                $("#h3ActionLevelTitle").removeClass("CaseRegNewCase CaseRegAppeal").addClass("CaseRegSupreme");
                $("#CourtRegistration").val("1").trigger('change');
                //LoadFileStatus("S", "FileStatus");

            }
            else if ($("#ActionLevel").val() == "4") {
                $("#divEnforcementDispute").removeClass("AppHidden");
                $("#lblCourtRegistration").text("COURT REGISTRATION");
                $("#SpanActionLevelTitle").text("DISPUTE");
                $("#h3ActionLevelTitle").removeClass("CaseRegNewCase CaseRegAppeal CaseRegSupreme");
            }


            if ($("#FileStatus").val() == "1") {
                $("#DivFileStatusDetail").removeClass("AppHidden");
                $("#1").removeClass("AppHidden");
                $("#SpanFileStatusTitle").text("LEGAL NOTICE");
            }
            else if ($("#FileStatus").val() == "3") {
                $("#DivFileStatusDetail").removeClass("AppHidden");
                $(".cls3").removeClass("AppHidden");
                $("#lblFileStatusRemarks").text("ON HOLD REASON");
                $("#SpanFileStatusTitle").text("ON HOLD");
            }
            else if ($("#FileStatus").val() == "6") {
                $("#DivFileStatusDetail").removeClass("AppHidden");
                $(".cls6").removeClass("AppHidden");
                $("#lblFileStatusRemarks").text("ELECTRONIC NO.");
                $("#SpanFileStatusTitle").text("ONLINE SUBMISSION");

            }
            else if ($("#FileStatus").val() == "7") {
                $("#DivFileStatusDetail").removeClass("AppHidden");
                $(".cls7").removeClass("AppHidden");
                $("#lblFileStatusRemarks").text("COURT FEE");
                var IsDigitmask = new RegExp(/^\d*\.?(?:\d{1,3})?$/);
                $("#FileStatusRemarks").regexMask(IsDigitmask);
                $("#SpanFileStatusTitle").text("PAYMENT");
            }
            else if ($("#FileStatus").val() == "9") {
                $("#divFileStatusRemarks").removeClass("AppHidden");
                $("#lblFileStatusRemarks").text("LAWYER");
            }
            else if ($("#FileStatus").val() == "10") {
                $("#DivFileStatusDetail").removeClass("AppHidden");
                $("#divFileStatusRemarks").removeClass("AppHidden");
                $("#lblFileStatusRemarks").text("REASON ");
                $("#SpanFileStatusTitle").text("STOP REGISTRATION");
            }

            $("#ActionLevel").on("change", function () {
                console.log("ActionLevel Change");
                console.log(this.value);

                $("#DivActionLevelDetail").removeClass("AppHidden").addClass("AppHidden");
                $("#divReceptionDate").removeClass("AppHidden").addClass("AppHidden");
                $("#divJudgementDate").removeClass("AppHidden").addClass("AppHidden");
                $("#divEnforcementDispute").removeClass("AppHidden").addClass("AppHidden");
                $("#lblJudgementDate").text("");
                $("#lblCourtRegistration").text("");

                if (this.value == "1") {
                    $("#divReceptionDate").removeClass("AppHidden");
                    $("#lblCourtRegistration").text("PRIMARY COURT");
                    $("#SpanActionLevelTitle").text("NEW CASES");
                    $("#h3ActionLevelTitle").removeClass("CaseRegAppeal CaseRegSupreme").addClass("CaseRegNewCase");
                    LoadFileStatus("N", "FileStatus");
                }
                else if (this.value == "2") {
                    $("#divJudgementDate").removeClass("AppHidden");
                    $("#lblJudgementDate").text("PRIMARY JUDGEMENT DATE");
                    $("#lblCourtRegistration").text("APPEAL COURT");
                    $("#SpanActionLevelTitle").text("APPEAL");
                    $("#h3ActionLevelTitle").removeClass("CaseRegNewCase CaseRegSupreme").addClass("CaseRegAppeal");
                    LoadFileStatus("A", "FileStatus");

                }
                else if (this.value == "3") {
                    $("#divJudgementDate").removeClass("AppHidden");
                    $("#lblJudgementDate").text("APPEAL JUDGEMENT DATE");
                    $("#lblCourtRegistration").text("SUPREME COURT");
                    $("#SpanActionLevelTitle").text("SUPREME");
                    $("#h3ActionLevelTitle").removeClass("CaseRegNewCase CaseRegAppeal").addClass("CaseRegSupreme");
                    $("#CourtRegistration").val("1").trigger('change');
                    LoadFileStatus("S", "FileStatus");
                }
                else if (this.value == "4") {
                    $("#divEnforcementDispute").removeClass("AppHidden");
                    $("#lblCourtRegistration").text("COURT REGISTRATION");
                    $("#SpanActionLevelTitle").text("DISPUTE");
                    $("#h3ActionLevelTitle").removeClass("CaseRegNewCase CaseRegAppeal CaseRegSupreme");
                }

                if (this.value == "0") {
                    $("#DivActionLevelDetail").removeClass("AppHidden").addClass("AppHidden");
                }
                else
                    $("#DivActionLevelDetail").removeClass("AppHidden");

            });

            $("#FileStatus").on("change", function () {
                console.log("FileStatus Change");
                console.log(this.value);

                $("#DivFileStatusDetail").removeClass("AppHidden").addClass("AppHidden");
                $("#divFileStatusRemarks").removeClass("AppHidden").addClass("AppHidden");
                $("#1").removeClass("AppHidden").addClass("AppHidden");
                $(".cls7").removeClass("AppHidden").addClass("AppHidden");
                $(".cls6").removeClass("AppHidden").addClass("AppHidden");
                $(".cls3").removeClass("AppHidden").addClass("AppHidden");
                $("#lblFileStatusRemarks").text("");
                $("#FileStatusRemarks").off();
                $("#FileStatusRemarks").val("");
                var AlphaNumericSpecial = new RegExp(/^[-@@.\/#&+()\[\]\w\s]*$/);
                $("#FileStatusRemarks").regexMask(AlphaNumericSpecial);


                if (this.value == "1") {
                    $("#DivFileStatusDetail").removeClass("AppHidden");
                    $("#1").removeClass("AppHidden");
                    $("#SpanFileStatusTitle").text("LEGAL NOTICE");
                }
                else if (this.value == "3") {
                    $("#DivFileStatusDetail").removeClass("AppHidden");
                    $(".cls3").removeClass("AppHidden");
                    $("#lblFileStatusRemarks").text("ON HOLD REASON");
                    $("#SpanFileStatusTitle").text("ON HOLD");
                }
                else if (this.value == "6") {
                    $("#DivFileStatusDetail").removeClass("AppHidden");
                    $(".cls6").removeClass("AppHidden");
                    $("#lblFileStatusRemarks").text("ELECTRONIC NO.");
                    $("#SpanFileStatusTitle").text("ONLINE SUBMISSION");

                }
                else if (this.value == "7") {
                    $("#DivFileStatusDetail").removeClass("AppHidden");
                    $(".cls7").removeClass("AppHidden");
                    $("#lblFileStatusRemarks").text("COURT FEE");
                    var IsDigitmask = new RegExp(/^\d*\.?(?:\d{1,3})?$/);
                    $("#FileStatusRemarks").regexMask(IsDigitmask);
                    $("#SpanFileStatusTitle").text("PAYMENT");
                }
                else if (this.value == "10") {
                    $("#DivFileStatusDetail").removeClass("AppHidden");
                    $("#divFileStatusRemarks").removeClass("AppHidden");
                    $("#lblFileStatusRemarks").text("REASON ");
                    $("#SpanFileStatusTitle").text("STOP REGISTRATION");
                }
            });

            $("#OfficeFileNo").on("keypress", function (e) {
                if (e.which === 13) {
                    var p_OfficeFileNo = $('#OfficeFileNo').val();
                    GetCaseDetail(p_OfficeFileNo);

                    //$(this).attr("disabled", "disabled");
                }
            });
        });
    </script>
}