<div style="padding-bottom:0px;padding-top:10px;" class="card-header CaseInformationBar">
    <div class="row">
        <div class="col">
            <h3>
                @ViewBag.OFB_OfficeFileNo<span class="YandSTitleSpacing2">-</span>@ViewBag.OFB_ClientName
                <span class="YandSTitleSpacing2">-</span>
                @ViewBag.OFB_Defendant
            </h3>
        </div>
        <div class="col-2">
            <h3>
                @ViewBag.OFB_AccountContractNo<span class="YandSTitleSpacing2">-</span>@ViewBag.OFB_ClientFileNo
            </h3>
        </div>
        <div class="col" dir="rtl">
            <h3 style="float:right">
                @ViewBag.OFB_SessionRollClientName
                <span class="YandSTitleSpacing2">-</span>
                @ViewBag.OFB_SessionRollDefendentName
            </h3>
        </div>
    </div>
</div>