<script type="text/javascript">
    $(document).ready(function () {
        $.fn.autoResize = function () {
            let r = e => {
                e.style.height = '';
                e.style.height = e.scrollHeight + 'px'
            };
            return this.each((i, e) => {
                e.style.overflow = 'hidden';
                r(e);
                $(e).bind('input', e => {
                    r(e.target);
                })
            })
        };

        $.fn.regexMask = function (mask) {
            $(this).keypress(function (event) {
                if (!event.charCode) return true;
                var part1 = this.value.substring(0, this.selectionStart);
                var part2 = this.value.substring(this.selectionEnd, this.value.length);
                if (!mask.test(part1 + String.fromCharCode(event.charCode) + part2))
                    return false;
            });
        };
        $("#div_INVESTMENT").removeClass("AppHidden").addClass("AppHidden");

        var ActionLevelCode = "2";
        $('.datepicker').datepicker({
            format: "dd/mm/yyyy",
            todayBtn: "linked",
            clearBtn: true,
            autoclose: true,
            orientation: "bottom auto"
        });
        $('.select2bs4').select2({ theme: 'bootstrap4' });
        $(".clsDecimal").regexMask(IsDecimal);

        $('#PrimaryFinalJDAmount').bind('input propertychange', function () {
            if (!$.trim($("#FinalJDAmount").val())) {
                $("#FinalJDAmount").val($('#PrimaryFinalJDAmount').val());
            }
        });

        $('#PrimaryFinalJudgedInterests').bind('input propertychange', function () {
            if (!$.trim($("#FinalJudgedInterests").val())) {
                $("#FinalJudgedInterests").val($('#PrimaryFinalJudgedInterests').val());
            }
        });

        if ($('#SavePV_Data').val() == undefined) {
            $("#div_INVESTMENT").removeClass("AppHidden");

            if ($('#PrimaryIsFavorable').val() == "N")
                LoadCaseRegistrationPV(ActionLevelCode);

            $('#PrimaryIsFavorable').on("change", function () {
                if ($('#PrimaryIsFavorable').val() == "N")
                    LoadCaseRegistrationPV(ActionLevelCode);
                else
                    LoadCaseRegistrationPV("0");
            });
        }

        $('textarea').autoResize();

        if ($('#AgainstCode').val() == "3") {
            $('.clsAgainstClient').removeClass("AppHidden").addClass("AppHidden");
        }

        if ($('#hidJudFilter').val() == "Y") {
            $('.clsAgainstClient').removeClass("AppHidden").addClass("AppHidden");
        }

        ShowInvesmentBanner();

        $('#DepartmentType').on("change", function () {
            ShowInvesmentBanner();
        });

        $('textarea').autoResize();
    });
</script>
@model YandS.UI.Models.SessionsRollVM
<div id="DIV_PRIMARY" class="card-body">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="CountLocationName">PRIMARY COURT</label>
                @Html.EditorFor(model => model.CountLocationName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>

        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="CountLocationName">PRIMARY NO</label>
                @Html.EditorFor(model => model.CourtRefNo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>

        </div>
        <div class="col-sm-4">
            <div id="div_INVESTMENT" class="form-group">
                <label for="DepartmentType">INVESTMENT تبسيط الإجراءات</label>
                @Html.DropDownList("DepartmentType", null, htmlAttributes: new { @class = "form-control select2bs4" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="PrimaryJudgementsDate">PRIMARY JUDGMENT DATE تاريخ الحكم</label>
                @Html.EditorFor(model => model.PrimaryJudgementsDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group clsAgainstClient">
                <label for="PrimaryFinalJDAmount">PRI. JUG. AMOUNT مبلغ الحكم الابتدائي</label>
                @Html.EditorFor(model => model.PrimaryFinalJDAmount, new { htmlAttributes = new { @class = "form-control clsDecimal" } })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group clsAgainstClient">
                <label for="PrimaryFinalJudgedInterests">PRI. JUG. INTEREST نسبة الحكم الابتدائي</label>
                @Html.EditorFor(model => model.PrimaryFinalJudgedInterests, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="ClaimSummary">PRI CLAIM SUMMARY طلباتنا في الإبتدائي </label>
                @Html.TextAreaFor(model => model.ClaimSummary, 1, 200, new { @class = "form-control", @dir = "auto" })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="PrimaryJudgements">PRIMARY SENTENCE منطوق الحكم الإبتدائي</label>
                @Html.TextAreaFor(model => model.PrimaryJudgements, 1, 200, new { @class = "form-control", @dir = "auto" })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="">FAVORABLE مطابقة الحكم</label>
                @Html.DropDownList("PrimaryIsFavorable", null, htmlAttributes: new { @class = "form-control select2bs4" })
            </div>
        </div>
    </div>
    <div class="row AppHidden">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="PrimaryJDReceiveDate">PRI.JUG.RECEIVE تاريخ استلام الحكم الابتدائي</label>
                @Html.EditorFor(model => model.PrimaryJDReceiveDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
            </div>
        </div>
    </div>
   
    <div class="row clsAgainstClient">
        <div class="col-sm-4 AppHidden">
            <div class="form-group">
                <label for="FinalJDAmount">FINAL JD AMOUNT</label>
                @Html.EditorFor(model => model.FinalJDAmount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>
        <div class="col-sm-4 AppHidden">
            <div class="form-group">
                <label for="FinalJudgedInterests">FINAL JUDGED INTEREST</label>
                @Html.EditorFor(model => model.FinalJudgedInterests, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>
    </div>
</div>