<script type="text/javascript">
    $(document).ready(function () {
        console.log("Session On Hold");

        $('.select2bs4').select2({ theme: 'bootstrap4' });
        $('.datepicker').datepicker({
            format: "dd/mm/yyyy",
            todayBtn: "linked",
            clearBtn: true,
            autoclose: true,
            orientation: "bottom auto"
        });

        var DIV_TO_HIDE = [
            "#txtRequirement",
            "#txtFirstEmailDate",
            "#DIV_TRSOURCE"
        ];

        var i;
        for (i = 0; i < DIV_TO_HIDE.length; ++i) {
            $(DIV_TO_HIDE[i]).removeClass("AppHidden").addClass("AppHidden");
        }
        $("#hidNextHearingDate").val($("#NextHearingDate").val());
        $("#hidCurrentHearingDate").val($("#CurrentHearingDate").val());

        $('#CourtDecision').bind('input propertychange', function () {
            $("#hidCourtDecisionChange").val("N");

            if (this.value.length) {
                $("#hidCourtDecisionChange").val("Y");
            }
        });

        $('#ClientReply').on("change", function () {
            $("#txtRequirement").removeClass("AppHidden").addClass("AppHidden");
            $("#txtFirstEmailDate").removeClass("AppHidden").addClass("AppHidden");

            if ($('#ClientReply').val() == "1") {
                $("#txtRequirement").removeClass("AppHidden");
                $("#txtFirstEmailDate").removeClass("AppHidden");

                $('textarea').autoResize();

                if ($("#Requirements").val() == "" && $("#FirstEmailDate").val() == "") {
                    console.log($("#hidRequirement").val());
                    console.log($("#hidFirstEmailDate").val());
                    $("#Requirements").val($("#hidRequirement").val());
                    $("#FirstEmailDate").datepicker("setDate", $("#hidFirstEmailDate").val());
                }
            }
            else {
                $("#FirstEmailDate").val("");
                $("#Requirements").val("");
            }
        });

        $("#CurrentHearingDate").datepicker({
            todayBtn: 1,
            autoclose: true,
            format: "dd/mm/yyyy",
        }).on('changeDate', function (selected) {
            if ($("#hidCurrentHearingDate").val() == $("#CurrentHearingDate").val()) {

            }
            else {
                if ($('#TransportationFee').val() == "1") {
                    $("#TransportationSource").val("0").trigger('change');
                }
            }
        });

        ShowSessionNoteBanner();
        ShowDIV();
    });
</script>
@model YandS.UI.Models.SessionsRollVM
@Html.HiddenFor(model => model.NextHearingDate)
<div class="card card-danger card-outline">
    <div class="card-body">
    <div class="row">
        <div class="col-sm-4">
            <div class="col-sm-12">
                <div class="row">
                    <label for="SessionOnHold">SR HOLD REASON سبب الوقف</label>
                    <div class="input-group mb-3">
                        @Html.DropDownList("SessionOnHold", null, htmlAttributes: new { @class = "form-control select2bs4" })
                        <div class="input-group-append">
                            <button type="button" class="btn btn-info AddNewMaster" id="1092">
                                Add
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="SessionOnHoldUntill">SR HOLD UNTILL تارخ انتهاء الوقف</label>
                @Html.EditorFor(model => model.SessionOnHoldUntill, new { htmlAttributes = new { @class = "form-control datepicker" } })
            </div>
        </div>
    </div>
    </div>
</div>
<div id="DIV_UPDATE">
    <div class="col-sm-12">
        <div style="padding-bottom:0px !important;padding-top:10px;" class="UpdateBoxBar">
            <div class="row">
                <div class="col-sm-12 text-center"><h3>UPDATE التحديث</h3></div>
            </div>
        </div>
        <div id="DIV_NOTES_BANNER" class="card-header GeneralActive AppHidden">
            <div class="row">
                <div class="col-12 text-center">
                    <h3><span id="spnNotesBanner"></span></h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="CurrentHearingDate">UPDATE DATE تاريخ التحديث</label>
                        @Html.EditorFor(model => model.CurrentHearingDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="CourtDecision">COURT DECISION قرار المحكمة</label>
                        <div class="form-group">
                            @Html.TextAreaFor(model => model.CourtDecision, 1, 200, new { @class = "form-control", @dir = "auto" })
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="SessionRemarks">LAWYER SCHEDULE توجيهات إلى المحامي</label>
                        <div class="form-group">
                            @Html.TextAreaFor(model => model.SessionRemarks, 1, 200, new { @class = "form-control", @dir = "auto" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ClientReply)
                        @Html.DropDownList("ClientReply", null, htmlAttributes: new { @class = "form-control select2bs4" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group" id="txtRequirement">
                        <label for="Requirements">REQUIREMENT المطلوب من الموكل</label>
                        <div class="form-group">
                            @Html.TextAreaFor(model => model.Requirements, 1, 200, new { @class = "form-control", @dir = "auto" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group" id="txtFirstEmailDate">
                        @Html.LabelFor(model => model.FirstEmailDate)
                        @Html.EditorFor(model => model.FirstEmailDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                    </div>
                </div>
                <div class="col-sm-2">
                    <div id="DIV_TRSOURCE" class="form-group">
                        @Html.LabelFor(model => model.TransportationSource)
                        @Html.DropDownList("TransportationSource", null, htmlAttributes: new { @class = "form-control select2bs4" })
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>
