<script type="text/javascript">
    $(document).ready(function () {

        console.log("_SessionRollRegisterPAS Partial Page Loaded");
        $(".clsRealEstate").removeClass("AppHidden").addClass("AppHidden");
        $('.datepicker').datepicker({
            format: "dd/mm/yyyy",
            todayBtn: "linked",
            clearBtn: true,
            autoclose: true,
            orientation: "bottom auto"
        });
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        });

        $('.AddNewMaster').on("click", function () {
            console.log(this.id);
            console.log($(this).val());
            var ModalTitle = "";
            $("#MstParentId").val(this.id);

            if (this.id == "913") {
                ModalTitle = "ADD CLIENT";
                DDLToAppend = $("#SessionClientId");
            }
            else if (this.id == "4") {
                ModalTitle = "Add Location";
                DDLToAppend = $("#PASCourtLocationid");
            }

            $("#ModalTitle").text(ModalTitle);

            $('#modal-AddMasterValue').modal('show');

        });

        if ($("#Courtid").val() == "1") {
            if ($('input[name="RealEstateYesNo"]:checked').val() == "Y") {
                $(".clsRealEstate").removeClass("AppHidden");
            }
        }

        $('input[type=radio][name=RealEstateYesNo]').change(function () {
            console.log("rdoRealEstate Change");
            console.log(this.value);

            $(".clsRealEstate").removeClass("AppHidden").addClass("AppHidden");
            if (this.value == "Y")
                $(".clsRealEstate").removeClass("AppHidden");
        });
    });
</script>
@model YandS.UI.Models.SessionsRollVM
<div class="card">
    <div style="padding-bottom:0px;padding-top:10px;" class="row @ViewBag.CourtClass">
        <div class="col-sm-12 text-center"><h3>@ViewBag.HeadingText</h3></div>
    </div>
    <div class="card-body">
        <div class="form-horizontal">
            @Html.HiddenFor(model => model.DetailId, new { @Value = ViewBag.hid_DetailId })
            @Html.HiddenFor(model => model.Courtid)
            @Html.HiddenFor(model => model.CaseLevelCode)
            @Html.HiddenFor(model => model.CourtDepartment)
            @Html.HiddenFor(model => model.ClosureDate)
            @Html.HiddenFor(model => model.NextCaseLevel)
            @Html.HiddenFor(model => model.NextCaseLevelCode)
            @if (Model.Courtid == "1")
            {
                @Html.HiddenFor(model => model.ApealByWho, new { @Value = "0" })
                <div id="DivClearable" class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>CASE LEVEL</label>
                            <span class="form-control" disabled="disabled">@ViewBag.CaseLevelCode</span>
                        </div>
                        <div class="form-group">
                            <label>@ViewBag.CourtRefNo</label>
                            @Html.EditorFor(model => model.CourtRefNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CourtRefNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>REGISTRATION DATE</label>
                            @Html.EditorFor(model => model.RegistrationDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        </div>
                        <div class="col-sm-12">
                            <div class="row">
                                <label>COURT</label>
                                <div class="input-group mb-3">
                                    @Html.DropDownList("PASCourtLocationid", null, htmlAttributes: new { @class = "form-control select2bs4" })
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-info AddNewMaster" id="4">
                                            Add
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>CLAIM AMOUNT</label>
                            <span class="form-control" disabled="disabled">@ViewBag.ClaimAmount</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div style="padding-top:10px;padding-left:5px;" class="col-sm-8">
                        <div class="form-group">
                            <label>CLAIM SUMMARY</label>
                        </div>
                    </div>
                    <div style="padding-top:10px;" class="col-sm-2">
                        <div class="form-group text-right">
                            <label>REAL ESTATE DETAIL</label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div style="color: black !important;padding-top:10px;" class="text-left">
                            <div class="icheck-primary d-inline">
                                @Html.RadioButtonFor(m => m.RealEstateYesNo, "Y", new { id = "radioRealEstate1" })
                                <label for="radioRealEstate1">YES</label>
                            </div>
                            <div class="icheck-primary d-inline">
                                @Html.RadioButtonFor(m => m.RealEstateYesNo, "N", new { id = "radioRealEstate2" })
                                <label for="radioRealEstate2">NO</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            @Html.TextAreaFor(model => model.ClaimSummary, 3, 200, new { @class = "form-control", @placeholder = "Please Enter Claim Summary   " })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group clsRealEstate @ViewBag.clsRealEstate">
                            @Html.TextAreaFor(model => model.RealEstateDetail, 3, 200, new { @class = "form-control", @placeholder = "Please Enter Real Estate Detail   " })
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div id="DivClearable" class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>CASE LEVEL</label>
                            <span class="form-control" disabled="disabled">@ViewBag.CaseLevelCode</span>
                        </div>
                        <div class="form-group">
                            <label>@ViewBag.CourtRefNo</label>
                            @Html.EditorFor(model => model.CourtRefNo, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        @if (Model.Courtid == "2")
                        {
                            <div class="form-group">
                                <label>
                                    APPEAL BY
                                </label>
                                @Html.DropDownList("ApealByWho", null, htmlAttributes: new { @class = "form-control select2bs4" })
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <label>
                                    SUPREME BY
                                </label>
                                @Html.DropDownList("ApealByWho", null, htmlAttributes: new { @class = "form-control select2bs4" })
                                @Html.ValidationMessageFor(model => model.ApealByWho, "", new { @class = "text-danger" })
                            </div>
                        }
                        <div class="col-sm-12">
                            <div class="row">
                                <label>COURT</label>
                                <div class="input-group mb-3">
                                    @Html.DropDownList("PASCourtLocationid", null, htmlAttributes: new { @class = "form-control select2bs4" })
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-info AddNewMaster" id="4">
                                            Add
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>REGISTRATION DATE</label>
                            @Html.EditorFor(model => model.RegistrationDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
