<script type="text/javascript">
    $('.datepicker').datepicker({
        format: "dd/mm/yyyy",
        todayBtn: "linked",
        clearBtn: true,
        autoclose: true,
        orientation: "bottom auto"
    });
    $('.select2bs4').select2({
        theme: 'bootstrap4'
    });
    $('.AddNewMaster').on("click", function () {
        console.log(this.id);
        console.log($(this).val());
        var ModalTitle = "";
        $("#MstParentId").val(this.id);

        if (this.id == "241") {
            ModalTitle = "ADD Client";
            DDLToAppend = $("#ClientCode");
        }
        else if (this.id == "285") {
            ModalTitle = "ADD Client Case Type";
            DDLToAppend = $("#ClientCaseType");
        }
        else if (this.id == "16") {
            ModalTitle = "ADD ODB Loan";
            DDLToAppend = $("#ODBLoanCode");
        }
        else if (this.id == "18") {
            ModalTitle = "ADD ODB Bank Branch";
            DDLToAppend = $("#ODBBankBranch");
        }
        else if (this.id == "428") {
            ModalTitle = "ADD Loan Manager";
            DDLToAppend = $("#LoanManager");
        }
        else if (this.id == "532") {
            ModalTitle = "ADD Case Subject";
            DDLToAppend = $("#CaseSubject");
        }

        $("#ModalTitle").text(ModalTitle);

        $('#modal-AddMasterValue').modal('show');

    });
    InitClaimAmountFormatting();
    //$('#ClaimAmount').on("blur", function () {
    //    if (parseInt(this.value) >= 100000) {
    //        Swal.fire({
    //            type: "info",
    //            title: 'Enter Special Instruction',
    //            html: 'Make sure to Enter Special Instruction or Commission for amount ' + this.value
    //        });
    //    }

    //});

</script>
@model YandS.UI.Models.ToBeRegisterVM
@Html.HiddenFor(model => model.CaseSubject)
<div class="row">
    <div class="col-sm-4">
        <div class="col-sm-12">
            <div class="row">
                <label for="AccountContractNo">A/C No</label>
                <div class="input-group mb-3">
                    @Html.EditorFor(model => model.AccountContractNo, new { htmlAttributes = new { @class = "form-control", @tabindex = "10", onblur = "fnCheckDuplicate(this)" } })
                    <div class="input-group-append">
                        <button type="button" id="btn-AccountContractNo" class="btn btn-warning" onclick="generate_modal_body('AccountContractNo')">CHECK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="col-sm-12">
            <div class="row">
                <label for="ClientFileNo">CLIENT FILE No</label>
                <div class="input-group mb-3">
                    @Html.EditorFor(model => model.ClientFileNo, new { htmlAttributes = new { @class = "form-control", @tabindex = "11", onblur = "fnCheckDuplicate(this)" } })
                    <div class="input-group-append">
                        <button type="button" id="btn-ClientFileNo" class="btn btn-warning" onclick="generate_modal_body('ClientFileNo')">CHECK</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-4">
        <div class="form-group">
            @Html.LabelFor(model => model.ClaimAmount)
            @Html.EditorFor(model => model.ClaimAmount, new { htmlAttributes = new { @class = "form-control", @tabindex = "12" } })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="col-sm-12 ClientODB AppHidden">
            <div class="row">
                @Html.LabelFor(model => model.ClientCaseType)
                <div class="input-group mb-3">
                    @Html.DropDownList("ClientCaseType", null, htmlAttributes: new { @class = "form-control select2bs4", @tabindex = "9" })
                    <div class="input-group-append">
                        <button type="button" class="btn btn-info AddNewMaster" id="285">
                            ADD
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-4">
        <div class="col-sm-12 ClientODB AppHidden">
            <div class="row">
                @Html.LabelFor(model => model.ODBBankBranch)
                <div class="input-group mb-3">
                    @Html.DropDownList("ODBBankBranch", null, htmlAttributes: new { @class = "form-control select2bs4", @tabindex = "17" })
                    <div class="input-group-append">
                        <button type="button" class="btn btn-info AddNewMaster" id="18">
                            ADD
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-4">
        <div class="col-sm-12 ClientODB ClientUFin AppHidden">
            <div class="row">
                @Html.LabelFor(model => model.LoanManager)
                <div class="input-group mb-3">
                    @Html.DropDownList("LoanManager", null, htmlAttributes: new { @class = "form-control select2bs4", @tabindex = "18" })
                    <div class="input-group-append">
                        <button type="button" class="btn btn-info AddNewMaster" id="428">
                            ADD
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

