<script type="text/javascript">
    $(document).ready(function () {
        $('.datepicker').datepicker({
            format: "dd/mm/yyyy",
            todayBtn: "linked",
            clearBtn: true,
            autoclose: true,
            orientation: "bottom auto"
        });

        $('.select2bs4').select2({
            theme: 'bootstrap4'
        });

        $('.AddNewMaster').on("click", function () {
            var ModalTitle = "";
            $("#MstParentId").val(this.id);

            if (this.id == "1152") {
                ModalTitle = "Add Reconciliation DEPT";
                DDLToAppend = $("#ReconciliationDep");
            }

            $("#ModalTitle").text(ModalTitle);

            $('#modal-AddMasterValue').modal('show');

        });

    });
</script>
@model YandS.UI.Models.ToBeRegisterVM
<div class="card">
    <div class="card-header CaseBeforeCourt">
        <div class="text-center">
            <span class="h3">BEFORE COURT قبل المحاكمة</span>
        </div>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.PoliceNo)
                    @Html.EditorFor(model => model.PoliceNo, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PublicProsecutionNo)
                    @Html.EditorFor(model => model.PublicProsecutionNo, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PAPCNo)
                    @Html.EditorFor(model => model.PAPCNo, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.LaborConflicNo)
                    @Html.EditorFor(model => model.LaborConflicNo, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ReconciliationNo)
                    @Html.EditorFor(model => model.ReconciliationNo, new { htmlAttributes = new { @class = "form-control" } })
                </div>

            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.PoliceStation)
                    @Html.DropDownList("PoliceStation", null, htmlAttributes: new { @class = "form-control select2bs4" })
                    @Html.ValidationMessageFor(model => model.PoliceStation, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PublicPlace)
                    @Html.DropDownList("PublicPlace", null, htmlAttributes: new { @class = "form-control select2bs4" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PAPCPlace)
                    @Html.DropDownList("PAPCPlace", null, htmlAttributes: new { @class = "form-control select2bs4" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.LaborConflicPlace)
                    @Html.DropDownList("LaborConflicPlace", null, htmlAttributes: new { @class = "form-control select2bs4" })
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        @Html.LabelFor(model => model.ReconciliationDep)
                        <div class="input-group mb-3">
                            @Html.DropDownList("ReconciliationDep", null, htmlAttributes: new { @class = "form-control select2bs4" })
                            <div class="input-group-append">
                                <button type="button" class="btn btn-info AddNewMaster" id="1152">
                                    ADD
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>