@model IEnumerable<YandS.DAL.ClosureFormVM>
@{
    ViewBag.Title = "Y & S Associates - Closure Form";
    Layout = null;
}

<style type="text/css">

    p.MsoNormal {
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 8.0pt;
        margin-left: 0in;
        line-height: 107%;
        font-size: 11.0pt;
        font-family: "Calibri","sans-serif";
    }

    table.MsoTableGrid {
        border: solid windowtext 1.0pt;
        font-size: 11.0pt;
        font-family: "Calibri","sans-serif";
    }

    .auto-style1 {
        height: 20.2pt;
        width: 257pt;
    }

    .auto-style2 {
        width: 257pt;
    }
</style>
<p class="MsoNormal">
    <o:p>&nbsp;</o:p>
</p>
<table border="0" cellpadding="0" cellspacing="0" class="MsoTableGrid" style="border-collapse:collapse;mso-table-layout-alt:fixed;border:none;
 mso-yfti-tbllook:1184;mso-padding-alt:0in 5.4pt 0in 5.4pt;mso-border-insideh:
 none;mso-border-insidev:none">
    <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
        <td style="width:40.25pt;padding:0in 5.4pt 0in 5.4pt" valign="top" width="54">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                <o:p>&nbsp;</o:p>
            </p>
        </td>
        <td style="width:112.75pt;padding:0in 5.4pt 0in 5.4pt" valign="top" width="150">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                <o:p>&nbsp;</o:p>
            </p>
        </td>
        <td style="width:171.0pt;padding:0in 5.4pt 0in 5.4pt" valign="top" width="228">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                <o:p>&nbsp;</o:p>
            </p>
        </td>
        <td style="width:85.5pt;padding:0in 5.4pt 0in 5.4pt" valign="top" width="114">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                <o:p>&nbsp;</o:p>
            </p>
        </td>
        <td style="width:158.8pt;padding:0in 5.4pt 0in 5.4pt" valign="top" width="212">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                <o:p>&nbsp;</o:p>
            </p>
        </td>
    </tr>
    <tr style="mso-yfti-irow:1">
        <td style="width:40.25pt;padding:0in 5.4pt 0in 5.4pt" valign="top" width="54">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                <o:p>&nbsp;</o:p>
            </p>
        </td>
        <td style="width:112.75pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt" valign="top" width="150">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                <o:p>&nbsp;</o:p>
            </p>
        </td>
        <td style="width:171.0pt;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt" valign="top" width="228">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                <o:p>&nbsp;</o:p>
            </p>
        </td>
        <td style="width:85.5pt;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt" valign="top" width="114">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                <o:p>&nbsp;</o:p>
            </p>
        </td>
        <td style="width:158.8pt;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt" valign="top" width="212">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                <o:p>&nbsp;</o:p>
            </p>
        </td>
    </tr>
    <tr style="mso-yfti-irow:2;height:43.6pt">
        <td style="width:40.25pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;
  height:43.6pt" width="54">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal">
                <span style="font-size:26.0pt;
  font-family:Algerian"><o:p>&nbsp;</o:p></span>
            </p>
        </td>
        <td colspan="4" style="width:528.05pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:43.6pt" width="704">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal">
                <span style="font-size:26.0pt;
  font-family:Algerian">CLOSURE FORM<o:p></o:p></span>
            </p>
        </td>
    </tr>
    <tr style="mso-yfti-irow:3">
        <td style="width:40.25pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt" valign="top" width="54">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                <o:p>&nbsp;</o:p>
            </p>
        </td>
        <td style="width:112.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt" valign="top" width="150">
            <p align="right" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;
  text-align:right;line-height:normal">
                Date of Close<o:p></o:p>
            </p>
        </td>
        <td style="width:171.0pt;border:solid windowtext 1.0pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt" valign="top" width="228">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                @Model.Select(s => s.DateOfClosure).FirstOrDefault()<o:p></o:p>
            </p>
        </td>
        <td style="width:85.5pt;border:solid windowtext 1.0pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt" valign="top" width="114">
            <p align="right" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;
  text-align:right;line-height:normal">
                <span style="mso-ascii-font-family:Calibri;
  mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black">Level</span><o:p></o:p>
            </p>
        </td>
        <td style="width:158.8pt;border:solid windowtext 1.0pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt" valign="top" width="212">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                @Model.Select(s => s.CourtLevel).FirstOrDefault()<o:p></o:p>
            </p>
        </td>
    </tr>
    <tr style="mso-yfti-irow:4">
        <td style="width:40.25pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt" valign="top" width="54">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                <o:p>&nbsp;</o:p>
            </p>
        </td>
        <td style="width:112.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt" valign="top" width="150">
            <p align="right" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;
  text-align:right;line-height:normal">
                Next Case Level Code<o:p></o:p>
            </p>
        </td>
        <td style="width:171.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt" valign="top" width="228">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                @Model.Select(s => s.NextCaseLevelCode).FirstOrDefault()<o:p></o:p>
            </p>
        </td>
        <td style="width:85.5pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt" valign="top" width="114">
            <p align="right" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;
  text-align:right;line-height:normal">
                <span style="mso-ascii-font-family:Calibri;
  mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black">Next Case Level</span><o:p></o:p>
            </p>
        </td>
        <td style="width:158.8pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt" valign="top" width="212">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                @Model.Select(s => s.NextCaseLevel).FirstOrDefault()<o:p></o:p>
            </p>
        </td>
    </tr>
    <tr style="mso-yfti-irow:5">
        <td style="width:40.25pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt" valign="top" width="54">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                <o:p>&nbsp;</o:p>
            </p>
        </td>
        <td style="width:112.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt" valign="top" width="150">
            <p align="right" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;
  text-align:right;line-height:normal">
                <span style="mso-ascii-font-family:Calibri;
  mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black">Employee No.</span><o:p></o:p>
            </p>
        </td>
        <td colspan="3" style="width:415.3pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt" valign="top" width="554">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                <span style="mso-ascii-font-family:Calibri;mso-hansi-font-family:
  Calibri;mso-bidi-font-family:Calibri;color:black">@Model.Select(s => s.ClosedBy).FirstOrDefault()</span><o:p></o:p>
            </p>
        </td>
    </tr>
    <tr style="mso-yfti-irow:6;mso-yfti-lastrow:yes">
        <td style="width:40.25pt;padding:0in 5.4pt 0in 5.4pt" valign="top" width="54">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                <o:p>&nbsp;</o:p>
            </p>
        </td>
        <td style="width:112.75pt;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt" valign="top" width="150">
            <p align="right" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;
  text-align:right;line-height:normal">
                <o:p>&nbsp;</o:p>
            </p>
        </td>
        <td style="width:171.0pt;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt" valign="top" width="228">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                <o:p>&nbsp;</o:p>
            </p>
        </td>
        <td style="width:85.5pt;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt" valign="top" width="114">
            <p align="right" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;
  text-align:right;line-height:normal">
                <span style="mso-ascii-font-family:Calibri;
  mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p>&nbsp;</o:p></span>
            </p>
        </td>
        <td style="width:158.8pt;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt" valign="top" width="212">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                <o:p>&nbsp;</o:p>
            </p>
        </td>
    </tr>
</table>
<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt">
    <span style="font-size:4.0pt;line-height:107%"><o:p>&nbsp;</o:p></span>
</p>
<table border="0" cellpadding="0" cellspacing="0" class="MsoTableGrid" style="border-collapse:collapse;mso-table-layout-alt:fixed;border:none;
 mso-yfti-tbllook:1184;mso-padding-alt:0in 5.4pt 0in 5.4pt;mso-border-insideh:
 none;mso-border-insidev:none">
    <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;height:20.2pt">
        <td style="width:40.25pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;
  height:20.2pt" width="54">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                <o:p>&nbsp;</o:p>
            </p>
        </td>
        <td style="width: 63.0pt; border: solid windowtext 1.0pt; border-left: none; mso-border-left-alt: solid windowtext .5pt; mso-border-alt: solid windowtext .5pt; background: #D9D9D9; mso-background-themecolor: background1; mso-background-themeshade: 217; padding: 0in 5.4pt 0in 5.4pt; height: 20.2pt" width="84">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal">
                FILE NO.<o:p></o:p>
            </p>
        </td>
        <td style="width: 220.5pt; border: solid windowtext 1.0pt; border-left: none; mso-border-left-alt: solid windowtext .5pt; mso-border-alt: solid windowtext .5pt; background: #D9D9D9; mso-background-themecolor: background1; mso-background-themeshade: 217; padding: 0in 5.4pt 0in 5.4pt; height: 20.2pt" width="294">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal">
                CLIENT<o:p></o:p>
            </p>
        </td>
        <td class="auto-style1" style="border-right: 1.0pt solid windowtext; border-top: 1.0pt solid windowtext; border-bottom: 1.0pt solid windowtext; mso-border-left-alt: solid windowtext .5pt; mso-border-alt: solid windowtext .5pt; background: #D9D9D9; mso-background-themecolor: background1; mso-background-themeshade: 217; padding: 0in 5.4pt 0in 5.4pt; border-left-style: none; border-left-color: inherit; border-left-width: medium;">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal">
                DEFENDANT<o:p></o:p>
            </p>
        </td>
    </tr>
    <tr style="mso-yfti-irow:1;mso-yfti-lastrow:yes">
        <td style="width:40.25pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt" width="54">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                <o:p>&nbsp;</o:p>
            </p>
        </td>
        <td style="width:63.0pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt" width="84">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal">
                @Model.Select(s => s.OfficeFileNo).FirstOrDefault()<o:p></o:p>
            </p>
        </td>
        <td style="width:220.5pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt" width="294">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal">
                @Model.Select(s => s.ClientName).FirstOrDefault()<o:p></o:p>
            </p>
        </td>
        <td class="auto-style2" style="border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; mso-border-top-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt; mso-border-alt: solid windowtext .5pt; padding: 0in 5.4pt 0in 5.4pt; border-left-style: none; border-left-color: inherit; border-left-width: medium; border-top-style: none; border-top-color: inherit; border-top-width: medium;">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal">
                @Model.Select(s => s.Defendant).FirstOrDefault()<o:p></o:p>
            </p>
        </td>
    </tr>
</table>
<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt">
    <span style="font-size:3.0pt;line-height:107%"><o:p>&nbsp;</o:p></span>
</p>
<table border="0" cellpadding="0" cellspacing="0" class="MsoTableGrid" style="border-collapse:collapse;mso-table-layout-alt:fixed;border:none;
 mso-yfti-tbllook:1184;mso-padding-alt:0in 5.4pt 0in 5.4pt;mso-border-insideh:
 none;mso-border-insidev:none">
    <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;height:31.9pt">
        <td style="width:40.25pt;padding:0in 5.4pt 0in 5.4pt;height:31.9pt" width="54">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal">
                <b>
                    <span style="font-size:16.0pt;
  font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;mso-ascii-theme-font:major-bidi;
  mso-hansi-theme-font:major-bidi;mso-bidi-theme-font:major-bidi"><o:p>&nbsp;</o:p></span>
                </b>
            </p>
        </td>
        <td colspan="4" style="width:528.05pt;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;
  height:31.9pt" width="704">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal">
                <b>
                    <span style="font-size:16.0pt;
  mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin">FINANCE DETAILS ON THIS PART<o:p></o:p></span>
                </b>
            </p>
        </td>
    </tr>
    <tr style="mso-yfti-irow:1;height:26.95pt">
        <td style="width:40.25pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;
  height:26.95pt" width="54">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                <o:p>&nbsp;</o:p>
            </p>
        </td>
        <td style="width: 67.5pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; mso-border-top-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt; mso-border-alt: solid windowtext .5pt; background: #D9D9D9; mso-background-themecolor: background1; mso-background-themeshade: 217; padding: 0in 5.4pt 0in 5.4pt; height: 26.95pt" width="90">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal">
                <span style="font-size:12.0pt">Date<o:p></o:p></span>
            </p>
        </td>
        <td style="width: 1.25in; border: solid windowtext 1.0pt; border-left: none; mso-border-left-alt: solid windowtext .5pt; mso-border-alt: solid windowtext .5pt; background: #D9D9D9; mso-background-themecolor: background1; mso-background-themeshade: 217; padding: 0in 5.4pt 0in 5.4pt; height: 26.95pt" width="120">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal">
                <span style="font-size:12.0pt">Invoice no<o:p></o:p></span>
            </p>
        </td>
        <td style="width: 310.5pt; border: solid windowtext 1.0pt; border-left: none; mso-border-left-alt: solid windowtext .5pt; mso-border-alt: solid windowtext .5pt; background: #D9D9D9; mso-background-themecolor: background1; mso-background-themeshade: 217; padding: 0in 5.4pt 0in 5.4pt; height: 26.95pt" width="414">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal">
                <span style="font-size:12.0pt">Type of fees<o:p></o:p></span>
            </p>
        </td>
        <td style="width: 60.05pt; border: solid windowtext 1.0pt; border-left: none; mso-border-left-alt: solid windowtext .5pt; mso-border-alt: solid windowtext .5pt; background: #D9D9D9; mso-background-themecolor: background1; mso-background-themeshade: 217; padding: 0in 5.4pt 0in 5.4pt; height: 26.95pt" width="80">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal">
                <span style="font-size:12.0pt">Status<o:p></o:p></span>
            </p>
        </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr style="mso-yfti-irow:2;height:17.05pt">
            <td style="width:40.25pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;
  height:17.05pt" width="54">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <o:p>&nbsp;</o:p>
                </p>
            </td>
            <td style="width:67.5pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:17.05pt" width="90">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    @item.InvoiceDate<o:p></o:p>
                </p>
            </td>
            <td style="width:1.25in;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:17.05pt" width="120">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    @item.InvoiceNumber<o:p></o:p>
                </p>
            </td>
            <td style="width:310.5pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:17.05pt" width="414">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    @item.TypeOfFees<o:p></o:p>
                </p>
            </td>
            <td style="width:60.05pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:17.05pt" width="80">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    @item.InvoiceStatus<o:p></o:p>
                </p>
            </td>
        </tr>
    }
    <tr style="mso-yfti-irow:3;height:34.6pt">
        <td style="width:40.25pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;
  height:34.6pt" width="54">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                <o:p>&nbsp;</o:p>
            </p>
        </td>
        <td colspan="4" style="width:528.05pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:34.6pt" width="704">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal">
                <b>
                    <span style="font-size:16.0pt;
  mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin">ADMIN DECISION<o:p></o:p></span>
                </b>
            </p>
        </td>
    </tr>
    <tr style="mso-yfti-irow:4;mso-yfti-lastrow:yes;height:80.5pt">
        <td style="width:40.25pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;
  height:80.5pt" width="54">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                <o:p>&nbsp;</o:p>
            </p>
        </td>
        <td colspan="4" style="width:528.05pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:80.5pt" width="704">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                <o:p>&nbsp;</o:p>
            </p>
        </td>
    </tr>
</table>
<p class="MsoNormal">
    <o:p>&nbsp;</o:p>
</p>
<script type="text/javascript">
    window.addEventListener("load", window.print());
</script>
