@model YandS.UI.Models.ToBeRegisterVM
<script type="text/javascript">
    $(document).ready(function () {
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        });

        $('.datepicker').datepicker({
            format: "dd/mm/yyyy",
            todayBtn: "linked",
            clearBtn: true,
            autoclose: true,
            orientation: "bottom auto"
        });
    });
</script>
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <label>ENFORCEMENT NO</label>
            <span class="form-control" disabled="disabled">@ViewBag.EnforcementNo</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            @Html.LabelFor(model => model.AnnouncementTypeId)
            @Html.DropDownList("AnnouncementTypeId", null, htmlAttributes: new { @class = "form-control select2bs4" })
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            @Html.LabelFor(model => model.AnnouncementCompleteDt)
            @Html.EditorFor(model => model.AnnouncementCompleteDt, new { htmlAttributes = new { @class = "form-control datepicker" } })
        </div>
    </div>
</div>