@model YandS.UI.Models.CaseRegistrationVM
@Html.HiddenFor(model => model.PartialViewName)
@Html.HiddenFor(model => model.ActionDate)

<script type="text/javascript">
    $(document).ready(function () {
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        });
        $('.datepicker').datepicker({
            format: "dd/mm/yyyy",
            todayBtn: "linked",
            clearBtn: true,
            autoclose: true,
            orientation: "bottom auto"
        });

        $("#ActionDate").datepicker({ format: "dd/mm/yyyy" });

        $("#ActionDate").datepicker("setDate", new Date());

        var AllowedUsers = ["1", "2", "3", "4", "5", "6", "9"];
        if (AllowedUsers.indexOf($("#hidUserName").val()) == -1) {
            $("#ActionDate").datepicker('remove');
            $('#ActionDate').prop('readonly', true);
        }

    });
</script>
@Html.HiddenFor(model => model.CourtLocationid, new { @Value = "1" })
@Html.HiddenFor(model => model.AgainstCode)

<div class="row">
    <div class="col">
        <div class="form-group">
            <label>
                SUPREME BY
            </label>
            @Html.DropDownList("ApealByWho", null, htmlAttributes: new { @class = "form-control select2bs4" })
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label>SUPREME NO</label>
            @Html.EditorFor(model => model.CourtRefNo, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            @Html.LabelFor(model => model.RegistrationDate)
            @Html.EditorFor(model => model.RegistrationDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
        </div>
    </div>
    @if (int.Parse(Model.AgainstCode) == 3)
    {
        <div class="col">
            <div class="form-group">
                @Html.LabelFor(model => model.StopEnfRequest)
                @Html.DropDownList("StopEnfRequest", null, htmlAttributes: new { @class = "form-control select2bs4" })
            </div>
        </div>
    }
    <div class="col">
        <div class="form-group">
            <label>SUPREME STAGE مرحلة العليا</label>
            @Html.DropDownList("CourtDepartment", null, htmlAttributes: new { @class = "form-control select2bs4" })
        </div>
    </div>
</div>