@model YandS.DAL.ClosureFormView
    @{
        ViewBag.Title = "Y & S Associates - Closure Form";
        Layout = null;
    }
    <style type="text/css">

        td {
            border-style: none;
            border-color: inherit;
            border-width: medium;
            padding-top: 1px;
            padding-right: 1px;
            padding-left: 1px;
            color: black;
            font-size: 11.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: Calibri, sans-serif;
            text-align: general;
            vertical-align: bottom;
            white-space: nowrap;
        }

        .auto-style1 {
            color: black;
            font-size: 20.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Sakkal Majalla";
            text-align: center;
            vertical-align: middle;
            white-space: nowrap;
            border-style: none;
            border-color: inherit;
            border-width: medium;
            padding-left: 1px;
            padding-right: 1px;
            padding-top: 1px;
        }

        .auto-style2 {
            color: black;
            font-size: 20.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Sakkal Majalla";
            text-align: center;
            vertical-align: bottom;
            white-space: nowrap;
            border-left: .5pt solid windowtext;
            border-right: .5pt solid windowtext;
            border-top: .5pt solid windowtext;
            border-bottom-style: none;
            border-bottom-color: inherit;
            border-bottom-width: medium;
            padding-left: 1px;
            padding-right: 1px;
            padding-top: 1px;
            background: #D9D9D9;
        }

        .auto-style3 {
            color: black;
            font-size: 20.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Sakkal Majalla";
            text-align: center;
            vertical-align: top;
            white-space: nowrap;
            border-left: .5pt solid windowtext;
            border-right: .5pt solid windowtext;
            border-top-style: none;
            border-top-color: inherit;
            border-top-width: medium;
            border-bottom: .5pt solid windowtext;
            padding-left: 1px;
            padding-right: 1px;
            padding-top: 1px;
            background: #D9D9D9;
        }

        .auto-style4 {
            color: black;
            font-size: 20.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Sakkal Majalla";
            text-align: general;
            vertical-align: middle;
            white-space: nowrap;
            border: .5pt solid windowtext;
            padding-left: 1px;
            padding-right: 1px;
            padding-top: 1px;
        }

        .auto-style5 {
            width: 213pt;
            color: black;
            font-size: 20.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Sakkal Majalla";
            text-align: center;
            vertical-align: middle;
            white-space: normal;
            border: .5pt solid windowtext;
            padding-left: 1px;
            padding-right: 1px;
            padding-top: 1px;
        }

        .auto-style6 {
            color: black;
            font-size: 18.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Sakkal Majalla";
            text-align: general;
            vertical-align: middle;
            white-space: nowrap;
            border: .5pt solid windowtext;
            padding-left: 1px;
            padding-right: 1px;
            padding-top: 1px;
        }

        .auto-style7 {
            width: 213pt;
            color: black;
            font-size: 20.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Sakkal Majalla";
            text-align: general;
            vertical-align: middle;
            white-space: normal;
            border: .5pt solid windowtext;
            padding-left: 1px;
            padding-right: 1px;
            padding-top: 1px;
        }
    </style>
    <div>
        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:
 collapse;width:500pt" width="666">
            <colgroup>
                <col style="mso-width-source:userset;mso-width-alt:1170;width:24pt" width="32" />
                <col style="mso-width-source:userset;mso-width-alt:7204;width:148pt" width="197" />
                <col style="mso-width-source:userset;mso-width-alt:10386;width:213pt" width="284" />
                <col style="mso-width-source:userset;mso-width-alt:5595;width:115pt" width="153" />
            </colgroup>
            <tr height="20" style="height:15.0pt">
                <td height="20" style="height:15.0pt;width:24pt" width="32"></td>
                <td style="width:148pt" width="197"></td>
                <td style="width:213pt" width="284"></td>
                <td style="width:115pt" width="153"></td>
            </tr>
            <tr height="20" style="height:15.0pt">
                <td height="20" style="height:15.0pt"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr height="66" style="mso-height-source:userset;height:50.1pt">
                <td height="66" style="height:50.1pt"></td>
                <td class="auto-style1" colspan="3"><img style="height:45pt; width:150pt" src="~/Content/Images/LogoS-removebg.png" /></td>
            </tr>
            <tr height="20" style="height:15.0pt">
                <td height="20" style="height:15.0pt"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            @if (Model.DataFor == "ClosurePartialForm")
            {
                <tr height="53" style="mso-height-source:userset;height:39.95pt">
                    <td height="53" style="height:39.95pt"></td>
                    <td class="auto-style2" colspan="3" dir="RTL">الغلق الجزئي PARTIAL CLOSURE</td>
                </tr>

            }
            else
            {
                <tr height="53" style="mso-height-source:userset;height:39.95pt">
                    <td height="53" style="height:39.95pt"></td>
                    <td class="auto-style2" colspan="3" dir="RTL">الغلق الكلي للملف FINAL CLOSURE</td>
                </tr>
            }
            <tr height="53" style="mso-height-source:userset;height:39.95pt">
                <td height="53" style="height:39.95pt"></td>
                <td class="auto-style3" colspan="3">@User.Identity.Name</td>
            </tr>
            <tr height="80" style="mso-height-source:userset;height:60.0pt">
                <td height="80" style="height:60.0pt"></td>
                <td align="left" class="auto-style4">FILE NO.</td>
                <td class="auto-style5" width="284">@Model.OfficeFileNo</td>
                <td align="right" class="auto-style6" dir="RTL">رقم الملف</td>
            </tr>
            @if (Model.Defendant.Contains("^"))
            {
                var DefendantAR = Model.Defendant.Split('^')[0];
                var DefendantEN = Model.Defendant.Split('^')[1];
                <tr height="80" style="mso-height-source:userset;height:60.0pt">
                    <td height="80" style="height:60.0pt"></td>
                    <td align="left" class="auto-style4">DEFENDANT<span style="mso-spacerun:yes">&nbsp;</span></td>
                    <td class="auto-style5" width="284">@DefendantAR<br />@DefendantEN<span style="mso-spacerun:yes">&nbsp;</span></td>
                    <td align="right" class="auto-style6" dir="RTL">الخصم</td>
                </tr>
            }
            else
            {
                <tr height="80" style="mso-height-source:userset;height:60.0pt">
                    <td height="80" style="height:60.0pt"></td>
                    <td align="left" class="auto-style4">DEFENDANT<span style="mso-spacerun:yes">&nbsp;</span></td>
                    <td class="auto-style5" width="284">@Model.Defendant<span style="mso-spacerun:yes">&nbsp;</span></td>
                    <td align="right" class="auto-style6" dir="RTL">الخصم</td>
                </tr>
            }
            @if (Model.DataFor == "ClosurePartialForm")
            {
                <tr height="80" style="mso-height-source:userset;height:60.0pt">
                    <td height="80" style="height:60.0pt"></td>
                    <td align="left" class="auto-style4">CLOUSER PART DATE</td>
                    <td class="auto-style5" width="284">@Model.ClosurePartDate</td>
                    <td align="right" class="auto-style6" dir="RTL">تاريخ الغلق الجزئي</td>
                </tr>
                <tr height="80" style="mso-height-source:userset;height:60.0pt">
                    <td height="80" style="height:60.0pt"></td>
                    <td align="left" class="auto-style4">FILE TYPE CLOSURE</td>
                    <td class="auto-style5" width="284">@Model.FileTypeClosure</td>
                    <td align="right" class="auto-style6" dir="RTL">الجزء المغلق</td>
                </tr>
                <tr height="80" style="mso-height-source:userset;height:60.0pt">
                    <td height="80" style="height:60.0pt"></td>
                    <td align="left" class="auto-style4">CLOSURE NOTE</td>
                    <td class="auto-style5" width="284">@Model.ClosingNotes</td>
                    <td align="right" class="auto-style6" dir="RTL">ملاحظات الغلق</td>
                </tr>
            }
            else
            {
                <tr height="80" style="mso-height-source:userset;height:60.0pt">
                    <td height="80" style="height:60.0pt"></td>
                    <td align="left" class="auto-style4">CLOSURE LEVEL</td>
                    <td class="auto-style5" width="284">@Model.ClosureLevel</td>
                    <td align="right" class="auto-style6" dir="RTL">درجة التقاضي</td>
                </tr>
                <tr height="80" style="mso-height-source:userset;height:60.0pt">
                    <td height="80" style="height:60.0pt"></td>
                    <td align="left" class="auto-style4">CLOSURE DATE</td>
                    <td class="auto-style5" width="284">@Model.ClosureDate</td>
                    <td align="right" class="auto-style6" dir="RTL">تاريخ الغلق الكلي</td>
                </tr>
                <tr height="80" style="mso-height-source:userset;height:60.0pt">
                    <td height="80" style="height:60.0pt"></td>
                    <td align="left" class="auto-style4">REASON<span style="mso-spacerun:yes">&nbsp;</span></td>
                    <td class="auto-style5" width="284">@Model.ClosureReason<span style="mso-spacerun:yes">&nbsp;</span></td>
                    <td align="right" class="auto-style6" dir="RTL">سبب الغلق</td>
                </tr>
                <tr height="80" style="mso-height-source:userset;height:60.0pt">
                    <td height="80" style="height:60.0pt"></td>
                    <td align="left" class="auto-style4">CLOSURE NOTE</td>
                    <td class="auto-style5" width="284">@Model.ClosingNotes</td>
                    <td align="right" class="auto-style6" dir="RTL">ملاحظات الغلق</td>
                </tr>
            }

            <tr height="80" style="mso-height-source:userset;height:60.0pt">
                <td height="80" style="height:60.0pt"></td>
                <td align="left" class="auto-style4">ACCOUNTING AUDIT<span style="mso-spacerun:yes">&nbsp;</span></td>
                <td class="auto-style7" width="284">&nbsp;</td>
                <td align="right" class="auto-style6" dir="RTL">تدقيق قسم المحاسبة</td>
            </tr>
            <tr height="80" style="mso-height-source:userset;height:60.0pt">
                <td height="80" style="height:60.0pt"></td>
                <td align="left" class="auto-style4">ACCOUNTING SIGN</td>
                <td class="auto-style7" width="284">&nbsp;</td>
                <td align="right" class="auto-style6" dir="RTL">توقيع قسم المحاسبة</td>
            </tr>
            <tr height="80" style="mso-height-source:userset;height:60.0pt">
                <td height="80" style="height:60.0pt"></td>
                <td align="left" class="auto-style4">ARCHIVE SIGN</td>
                <td class="auto-style7" width="284">&nbsp;</td>
                <td align="right" class="auto-style6" dir="RTL">توقيع قسم الأرشيف</td>
            </tr>
            <tr height="20" style="height:15.0pt">
                <td height="20" style="height:15.0pt"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr height="20" style="height:15.0pt">
                <td height="20" style="height:15.0pt"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <script type="text/javascript">
        window.addEventListener("load", window.print());
    </script>
