@model YandS.UI.Models.PERMISSION
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutRBAC.cshtml";

}
<script type="text/javascript">

</script>
<div class="panel">
    <fieldset>
        <legend>
            <h3 style="font-weight:bold; font-size:x-large">
                Create Permission
            </h3>
        </legend>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <div class="editor-label">
                @Html.LabelFor(model => model.PermissionDescription, "Permission Description")
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.PermissionDescription, new { style = "width:450px" })
                @Html.ValidationMessageFor(model => model.PermissionDescription)
            </div>
            <br />
            <input class="btn btn-default" type="submit" value="Create" />
        }
    </fieldset>
</div>
<div>
    @Html.ActionLink("Go to Permissions", "PermissionIndex", "Admin")
</div>
