@model YandS.UI.Models.RoleViewModel
@{
    ViewBag.Title = "Create Role";
    Layout = "~/Views/Shared/_LayoutRBAC.cshtml";

}

<div class="panel">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)    
        <fieldset>
            <legend>
                <h3 style="font-weight:bold; font-size:x-large">
                    Create Role
                </h3>
            </legend>
            <table style='width: 100%'>
                <tr>
                    <td style='width: 10%; font-weight: bold' class='userTable'>
                        @Html.LabelFor(model => model.Name)
                    </td>
                    <td style='width: 28%' class='userTable'>
                        @Html.TextBoxFor(model => model.Name, new { style = "width:450px" })
                        @Html.ValidationMessageFor(model => model.Name)
                    </td>
                    <td style='width: 8%; font-weight: bold' class='userTable'>
                        @Html.LabelFor(model => model.IsSysAdmin, "System Role")
                    <td style='width: 20%' class='userTable'>
                        @Html.EditorFor(model => model.IsSysAdmin)
                        @Html.ValidationMessageFor(model => model.IsSysAdmin)
                    </td>
                </tr>           
                <tr>
                    <td style='width: 10%; font-weight: bold' class='userTable'>
                        @Html.LabelFor(model => model.RoleDescription)
                    </td>
                    <td style='width: 28%' class='userTable'>
                        @Html.TextBoxFor(model => model.RoleDescription, new { style = "width:450px" })
                        @Html.ValidationMessageFor(model => model.RoleDescription)
                    </td>                    
                </tr>        
            </table>
            <br />
            <input class="btn btn-default" type="submit" value="Create Role" />
        </fieldset>
    }
</div>
<div>
    @Html.ActionLink("Go to Roles", "RoleIndex", "Admin")
</div>
