@model IEnumerable<YandS.UI.Models.MasterSetups>
@{
    ViewBag.Title = "Y & S Associates Master Setup List";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@ViewBag.ParentDescription Setup</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">Master</li>
                        <li class="breadcrumb-item active"><a href="#">@ViewBag.ParentDescription Index</a></li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.ParentDescription Setup</h3>

                <div class="card-tools">
                    @if (ViewBag.ItemID > 0)
                    {
                        <a class="btn btn-primary btn-sm" href="@Url.Action("Create", "MasterSetups", new { @id = @ViewBag.ItemID })">Create Table Detail</a>
                    }
                    else
                    {
                        @Html.ActionLink("Create New Table", "Create", "MasterSetups", null, new { @class = "btn btn-primary btn-sm" })
                    }
                </div>
            </div>
            <div class="card-body">
                <table id="IndexTable" class="table table-bordered table-striped dataTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Mst_Desc)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mst_Value)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DisplaySeq)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Active_Flag)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Remarks)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            int MstValue = 0;
                            try
                            {
                                MstValue = Convert.ToInt32(item.Mst_Value);
                            }
                            catch (Exception e)
                            {
                                MstValue = 1;
                            }
                            //int MstValue = Convert.ToInt32(item.Mst_Value);
                            if (MstValue > 0)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mst_Desc)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mst_Value)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DisplaySeq)
                                    </td>
                                    <td>
                                        <div class="icheck-primary d-inline">
                                            @Html.DisplayFor(modelItem => item.Active_Flag)
                                            <label for="Active_Flag"></label>
                                        </div>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Remarks)
                                    </td>
                                    <td class="project-actions text-right">

                                        @if (User.IsSysAdmin())
                                        {
                                            <a class="btn btn-info btn-sm" href="@Url.Action("index", "MasterSetups", new { id = item.MstId })" id=@item.MstId>
                                                <i class="fas fa-list-alt">
                                                </i>
                                                Add Details
                                            </a>
                                            <a class="btn btn-info btn-sm" href="@Url.Action("Edit", "MasterSetups", new { id = item.MstId })" id=@item.MstId>
                                                <i class="fas fa-pencil-alt">
                                                </i>
                                                Edit
                                            </a>
                                            <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", "MasterSetups", new { id = item.MstId })" id=@item.MstId>
                                                <i class="fas fa-trash">
                                                </i>
                                                Delete
                                            </a>
                                        }
                                        else
                                        {
                                            if (item.MstParentId == null && User.IsInRole("AddMasterDetail"))
                                            {
                                                <a class="btn btn-info btn-sm" href="@Url.Action("index", "MasterSetups", new { id = item.MstId })" id=@item.MstId><i class="fas fa-list-alt"></i> Add Details</a>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            @if (ViewBag.ItemID > 0)
            {
                <div class="card-footer">
                    <a class="btn btn-default" href="@Url.Action("Index", "MasterSetups", new { id = 0 })">
                        <i class="fas fa-home">
                        </i>
                        Back to Main
                    </a>
                </div>
            }
        </div>

    </section>
    <!-- /.content -->
</div>

@section pagespecific {
    <script type="text/javascript">
        $(document).ready(function () {
            console.log("Index Master Page");
            var bootstrapTooltip = $.fn.tooltip.noConflict();
            $.fn.bstooltip = bootstrapTooltip;
            $('.btn').bstooltip();

            $('#IndexTable').DataTable({
                "paging": true,
                pageLength: 5,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "order": [[1, "asc"]],
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': [-1, 3] /* 1st one, start by the right */
                }]
                //'aoColumnDefs': [{
                //    'bSortable': false,
                //    'aTargets': ['nosort']
                //}]
            });
        });
    </script>
}
