<script type="text/javascript">

    $(document).ready(function () {
        console.log("_beforeCourt Partial View Document Ready ");
        $('.datepicker').datepicker({
            format: "dd/mm/yyyy",
            todayBtn: "linked",
            clearBtn: true,
            autoclose: true,
            orientation: "bottom auto"
        });

        //$("#CaseStatus").find("option[value='0']").attr('disabled', 'disabled');
        //$("#CaseStatus").find("option[value='1']").attr('disabled', 'disabled');
        //$("#CaseStatus").find("option[value='-1']").attr('disabled', 'disabled');
        //$("#CaseStatus").val("2");
        //$("#CaseStatus").select2({ theme: 'bootstrap4' });

        $('.select2bs4').select2({ theme: 'bootstrap4' });

        $("#ReceptionDateFrom").datepicker({
            todayBtn: 1,
            autoclose: true,
        }).on('changeDate', function (selected) {
            var ReceptionminDate = new Date(selected.date.valueOf());
            $('#ReceptionDateTo').datepicker('setStartDate', ReceptionminDate);
        });


        $("#ReceptionDateTo").datepicker({
            autoclose: true
        }).on('changeDate', function (selected) {
            var ReceptionmaxDate = new Date(selected.date.valueOf());
            $('#ReceptionDateFrom').datepicker('setEndDate', ReceptionmaxDate);
            });

        //var _PartialViewName = "_CloseReportTable";
        //_parameters = { PartialViewName: _PartialViewName };

        //GetPartialView($("#PartialViewContainer"), GetPartialViewURL, _parameters);

        $('.btnGenerateReport').on("click", function () {
            $('#ClickedButtonName').val(this.id);
            var form = document.getElementById("frm_CourtCasesReports");
            form.submit();
        });
    });
</script>
@model YandS.DAL.RepCaseParameterForm
<div class="card">
    <div style="padding-top:10px" class="beforeCourtActive">
        <div class="col-sm-12 text-center"><h3>CLOSED</h3></div>
    </div>
    <div class="card-body">
        <div class="card">
            <div style="padding-top:10px;background-color: #f2f2f2 !important; color: #c00000 !important;">
                <div class="text-center"><h3>BASIC INFO</h3></div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Location)
                            @Html.DropDownList("Location", null, htmlAttributes: new { @class = "form-control select2bs4" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CaseStatus)
                            @Html.DropDownList("CaseStatus", null, htmlAttributes: new { @class = "form-control select2bs4" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ClientCode)
                            @Html.DropDownList("ClientCode", null, htmlAttributes: new { @class = "form-control select2bs4" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.AgainstCode)
                            @Html.DropDownList("AgainstCode", null, htmlAttributes: new { @class = "form-control select2bs4" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CaseLevelCode)
                            @Html.DropDownList("CaseLevelCode", null, htmlAttributes: new { @class = "form-control select2bs4" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CaseTypeCode)
                            @Html.DropDownList("CaseTypeCode", null, htmlAttributes: new { @class = "form-control select2bs4" })
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ReasonCode)
                            @Html.DropDownList("ReasonCode", null, htmlAttributes: new { @class = "form-control select2bs4" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div style="padding-bottom:0px !important;padding-top:10px;background-color: #f2f2f2 !important; color: #c00000 !important;">
                        <div class="row">
                            <div class="col-sm-12 text-center"><h3>CLOSING DATE</h3></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ReceptionDateFrom, "CLOSING DATE FROM")
                                            @Html.EditorFor(model => model.ReceptionDateFrom, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ReceptionDateTo, "CLOSING DATE TO")
                                            @Html.EditorFor(model => model.ReceptionDateTo, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        <button type="button" id="btnENRep" class="btn btn-warning btnGenerateReport"><i class="fas fa-file-archive"></i> ENGLISH REPORT</button>
    </div>
</div>