@model YandS.UI.Models.CaseInvoice
<style type="text/css">

    table.MsoTableGrid {
        border: solid windowtext 1.0pt;
        font-size: 11.0pt;
        font-family: "Calibri",sans-serif;
    }

    p.MsoNormal {
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 8.0pt;
        margin-left: 0in;
        line-height: 107%;
        font-size: 11.0pt;
        font-family: "Calibri",sans-serif;
    }
</style>
<table border="0" cellpadding="0" cellspacing="0" class="MsoTableGrid" style="border-collapse:collapse;mso-table-layout-alt:fixed;border:none;mso-yfti-tbllook:1184;mso-padding-alt:0in 5.4pt 0in 5.4pt;mso-border-insideh:none;mso-border-insidev:none" width="0">
    <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;height:.3in">
        <td colspan="3" style="width:466.5pt;padding:0in 5.4pt 0in 5.4pt; height:.3in" width="610">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:center;line-height:normal">
                <b><u><span style="font-size:16.0pt"><o:p><span style="text-decoration:none"></span></o:p></span></u></b>
            </p>
        </td>
    </tr>
    <tr style="mso-yfti-irow:1;height:.3in">
        <td colspan="3" style="width:460.5pt;padding:0in 5.4pt 0in 5.4pt;height:.3in" width="610">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:center;line-height:normal">
                <b><u><span style="font-size:16.0pt"><o:p><span style="text-decoration:none"></span></o:p></span></u></b>
            </p>
        </td>
    </tr>
    <tr style="mso-yfti-irow:2;height:.3in">
        <td colspan="3" style="width:460.5pt;padding:0in 5.4pt 0in 5.4pt;height:.3in" width="610">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:center;line-height:normal">
                <b><u><span style="font-size:16.0pt"><o:p><span style="text-decoration:none"></span></o:p></span></u></b>
            </p>
        </td>
    </tr>
    <tr style="mso-yfti-irow:3;height:.3in">
        <td colspan="3" style="width:460.5pt;border:none;border-bottom:solid windowtext 1.5pt;
  padding:0in 5.4pt 0in 5.4pt;height:.3in" width="622">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal">
                <b><u><span style="font-size:16.0pt">@ViewBag.ClientName</span></u></b><span style="font-size:12.0pt"><o:p></o:p></span>
            </p>
        </td>
    </tr>
    <tr style="mso-yfti-irow:4;height:.3in">
        <td style="width:145.8pt;border:solid windowtext 1.5pt;background: #D9D9D9; border-top:
  none;mso-border-top-alt:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt;
  height:.3in" width="208" >
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal">
                <b><span style="font-size:14.0pt">DATE<o:p></o:p></span></b>
            </p>
        </td>
        <td style="width:155.85pt;border-top:none;background: #D9D9D9; border-left:none;
  border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
  mso-border-top-alt:solid windowtext 1.5pt;mso-border-left-alt:solid windowtext 1.5pt;
  padding:0in 5.4pt 0in 5.4pt;height:.3in" width="208">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal">
                <b><span style="font-size:14.0pt">Y&amp;S FILE NO.</span></b><span style="font-size:12.0pt"><o:p></o:p></span>
            </p>
        </td>
        <td style="width:155.85pt;border-top:none;background: #D9D9D9; border-left:none;
  border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
  mso-border-top-alt:solid windowtext 1.5pt;mso-border-left-alt:solid windowtext 1.5pt;
  padding:0in 5.4pt 0in 5.4pt;height:.3in" width="208">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal">
                <b><span style="font-size:14.0pt">INVOICE NO.</span></b><span style="font-size:12.0pt"><o:p></o:p></span>
            </p>
        </td>
    </tr>
    <tr style="mso-yfti-irow:5;mso-yfti-lastrow:yes;height:.3in">
        <td style="width:145.8pt;border:solid windowtext 1.5pt;border-top: none;mso-border-top-alt:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt; height:.3in" width="208">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal">
                <span style="font-size:12.0pt">@Html.DisplayFor(model => model.InvoiceDate)<o:p></o:p></span>
            </p>
        </td>
        <td style="width:155.85pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
  mso-border-top-alt:solid windowtext 1.5pt;mso-border-left-alt:solid windowtext 1.5pt;
  padding:0in 5.4pt 0in 5.4pt;height:.3in" width="208">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal">
                <span style="font-size:12.0pt">@Html.DisplayFor(model => model.OfficeFileNo)<o:p></o:p></span>
            </p>
        </td>
        <td style="width:155.85pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
  mso-border-top-alt:solid windowtext 1.5pt;mso-border-left-alt:solid windowtext 1.5pt;
  padding:0in 5.4pt 0in 5.4pt;height:.3in" width="208">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal">
                <span style="font-size:12.0pt">@Html.DisplayFor(model => model.InvoiceNumber)<o:p></o:p></span>
            </p>
        </td>
    </tr>
</table>
<p align="center" class="MsoNormal" style="text-align:center">
    <b>
        <u>
            <span style="font-size:16.0pt;line-height:107%">
                <o:p>
                    <span style="text-decoration:none"></span>
                </o:p>
            </span>
        </u>
    </b>
</p>
<table border="1" cellpadding="0" cellspacing="0" class="MsoTableGrid" style="border-collapse:collapse;mso-table-layout-alt:fixed;border:none;mso-border-alt:solid windowtext 1.5pt;mso-yfti-tbllook:1184;mso-padding-alt:0in 5.4pt 0in 5.4pt;mso-border-insideh:1.5pt solid windowtext;mso-border-insidev:1.5pt solid windowtext">
    <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;height:.4in">
        <td style="width:121.75pt;border:solid windowtext 1.5pt;padding: 0in 5.4pt 0in 5.4pt;height:.4in" width="162">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal">
                <span style="font-size:12.0pt">A/C NO<o:p></o:p></span>
            </p>
        </td>
        <td colspan="3" style="width:345.75pt;border:solid windowtext 1.5pt;border-left:none;mso-border-left-alt:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt;height:.4in" width="461">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal">
                <span style="font-size:12.0pt">@Html.DisplayFor(model => model.AccountContractNo)<o:p></o:p></span>
            </p>
        </td>
    </tr>
    <tr style="mso-yfti-irow:1;height:.4in">
        <td style="width:121.75pt;border:solid windowtext 1.5pt;border-top:none;mso-border-top-alt:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt;height:.4in" width="162">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal">
                <span style="font-size:12.0pt">CIF NO<o:p></o:p></span>
            </p>
        </td>
        <td colspan="3" style="width:345.75pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;mso-border-top-alt:solid windowtext 1.5pt;mso-border-left-alt:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt;height:.4in" width="461">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal">
                <span style="font-size:12.0pt">@Html.DisplayFor(model => model.ClientFileNo)<o:p></o:p></span>
            </p>
        </td>
    </tr>
    <tr style="mso-yfti-irow:2;height:.4in">
        <td style="width:121.75pt;border:solid windowtext 1.5pt;border-top:  none;mso-border-top-alt:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt;height:.4in" width="162">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal">
                <span style="font-size:12.0pt">DEFENDANT<o:p></o:p></span>
            </p>
        </td>
        <td colspan="3" style="width:345.75pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;mso-border-top-alt:solid windowtext 1.5pt;mso-border-left-alt:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt;height:.4in" width="461">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal">
                <span style="font-size:12.0pt">@Html.DisplayFor(model => model.Defendant)<o:p></o:p></span>
            </p>
        </td>
    </tr>
    <tr style="mso-yfti-irow:3;height:.4in">
        <td style="width:121.75pt;border:solid windowtext 1.5pt;border-top:none;mso-border-top-alt:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt;height:.4in" width="162">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal">
                <span style="font-size:12.0pt">CASE No<o:p></o:p></span>
            </p>
        </td>
        <td colspan="3" style="width:345.75pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;mso-border-top-alt:solid windowtext 1.5pt;mso-border-left-alt:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt;height:.4in" width="461">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal">
                <span style="font-size:12.0pt">@Html.DisplayFor(model => model.CourtRefNo)<o:p></o:p></span>
            </p>
        </td>
    </tr>
    <tr style="mso-yfti-irow:4;height:.4in">
        <td style="width:121.75pt;border:solid windowtext 1.5pt;border-top:none;mso-border-top-alt:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt;height:.4in" width="162">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal">
                <span style="font-size:12.0pt">COURT LOCATION<o:p></o:p></span>
            </p>
        </td>
        <td colspan="3" style="width:345.75pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;mso-border-top-alt:solid windowtext 1.5pt;mso-border-left-alt:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt;height:.4in" width="461">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal">
                <span style="font-size:12.0pt">@ViewBag.CourtType<o:p></o:p></span>
            </p>
        </td>
    </tr>
    <tr style="mso-yfti-irow:5;height:.4in">
        <td style="width:121.75pt;border:solid windowtext 1.5pt;border-top:none;mso-border-top-alt:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt;height:.4in" width="162">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal">
                <span style="font-size:12.0pt">CLAIM AMOUNT<o:p></o:p></span>
            </p>
        </td>
        <td colspan="3" style="width:345.75pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;mso-border-top-alt:solid windowtext 1.5pt;mso-border-left-alt:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt;height:.4in" width="461">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal">
                <span style="font-size:12.0pt">@Html.DisplayFor(model => model.ClaimAmount) OMR<o:p></o:p></span>
            </p>
        </td>
    </tr>
    @if (Model.ShowInInvoice)
    {
        if (Model.FeeCaclId != null)
        {
            <tr style="mso-yfti-irow:6;height:.4in">
                <td colspan="4" style="width:467.5pt;border:solid windowtext 1.5pt;background: #D9D9D9; border-top:none;mso-border-top-alt:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt;height:.4in" width="623">
                    <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:center;line-height:normal">
                        <b><span style="font-size:16.0pt">CALCULATION<o:p></o:p></span></b>
                    </p>
                </td>
            </tr>

            foreach (var FeeCaclId in Model.FeeCaclId)
            {
                @Html.Partial("_CaseInvoiceFeeCalcPrint", FeeCaclId, new ViewDataDictionary { { "ClaimAmount", @Model.ClaimAmount } })
            }
        }
    }
    <tr style="mso-yfti-irow:6;height:.4in">
        <td colspan="4" style="width:467.5pt;background: #D9D9D9; border:solid windowtext 1.5pt;border-top:none;mso-border-top-alt:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt;height:.4in" width="623">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:center;line-height:normal">
                <b><span style="font-size:16.0pt">TYPE OF FEES<o:p></o:p></span></b>
            </p>
        </td>
    </tr>

    @if (Model.FeeId != null)
    {

        foreach (var FeeId in Model.FeeId)
        {
            @Html.Partial("_CaseInvoiceFeePrint", FeeId)
        }


    }
    <tr style="mso-yfti-irow:8;height:.4in">
        <td colspan="4" style="width:467.5pt;background: #D9D9D9; border:solid windowtext 1.5pt;border-top:none;mso-border-top-alt:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt;height:.4in" width="623">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:center;line-height:normal">
                <b><span style="font-size:16.0pt">INVOICE AMOUNT<o:p></o:p></span></b>
            </p>
        </td>
    </tr>
    <tr style="mso-yfti-irow:9;height:.4in">
        <td colspan="2" style="width:233.25pt;border:solid windowtext 1.5pt;border-top:none;mso-border-top-alt:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt;height:.4in" width="312">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal">
               <b><span style="font-size:16.0pt">@ViewBag.InvoiceAmount OMR<o:p></o:p></span></b>
            </p>
        </td>
        <td colspan="2" style="width:234.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;mso-border-top-alt:solid windowtext 1.5pt;mso-border-left-alt:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt;height:.4in" width="311">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal">
                <span style="font-size:12.0pt">@ViewBag.InvAmtinWords<o:p></o:p></span>
            </p>
        </td>
    </tr>
    <tr style="mso-yfti-irow:10;height:.4in">
        <td colspan="4" style="width:467.5pt;border:solid windowtext 1.5pt;border-top:none;mso-border-top-alt:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt;height:.4in" width="623">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:center;line-height:normal">
                <span style="font-size:12.0pt"><o:p>&nbsp;</o:p></span>
            </p>
        </td>
    </tr>
    <tr style="mso-yfti-irow:11;mso-yfti-lastrow:yes;height:.4in">
        <td colspan="4" style="width:467.5pt;border:solid windowtext 1.5pt;border-top:none;mso-border-top-alt:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt;height:.4in" width="623">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:center;line-height:normal">
                <b><span style="font-size:14.0pt">PLEASE TRANSFER THE BILL AMOUNT TO OUR A/C<o:p></o:p></span></b>
            </p>
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:center;line-height:normal">
                <b>
                    <span style="font-size:14.0pt;color:#7F7F7F;mso-themecolor:background1;mso-themeshade:128;mso-style-textfill-fill-color:#7F7F7F;mso-style-textfill-fill-themecolor:background1;mso-style-textfill-fill-alpha:100.0%;mso-style-textfill-fill-colortransforms:lumm=50000">@string.Format("{0}B - ",Model.OfficeFileNo.Substring(0,1)) @Html.DisplayFor(model => model.CreditAccountName)</span>
                    <span style="font-size:12.0pt"><o:p></o:p></span>
                </b>
            </p>
        </td>
    </tr>
    <![if !supportMisalignedColumns]>
    <tr height="0">
        <td style="border:none" width="161"></td>
        <td style="border:none" width="150"></td>
        <td style="border:none" width="67"></td>
        <td style="border:none" width="245"></td>
    </tr>
    <![endif]>
</table>
<p align="center" class="MsoNormal" style="text-align:center">
    <span style="font-size:12.0pt;line-height:107%"><o:p>&nbsp;</o:p></span>
</p>
<p align="center" class="MsoNormal" style="text-align:center">
    <span style="font-size:12.0pt;line-height:107%"><o:p>&nbsp;</o:p></span>
</p>
<p class="MsoNormal">
    <b><span style="font-size:12.0pt;line-height:107%">Accounts Dept.<o:p></o:p></span></b>
</p>
