@model YandS.UI.Models.CaseInvoice
<style type="text/css">

    p.MsoNormal {
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 8.0pt;
        margin-left: 0in;
        line-height: 107%;
        font-size: 11.0pt;
        font-family: "Calibri",sans-serif;
    }

    table.MsoTableGrid {
        border: solid windowtext 1.0pt;
        font-size: 11.0pt;
        font-family: "Calibri",sans-serif;
    }

    table.MsoNormalTable {
        line-height: 107%;
        font-size: 11.0pt;
        font-family: "Calibri",sans-serif;
    }

    .auto-style1 {
        height: 13.85pt;
        width: 1.76in;
    }

    .auto-style2 {
        height: 13.05pt;
        width: 1.76in;
    }

    .auto-style3 {
        height: 13.85pt;
        width: 130pt;
    }

    .auto-style4 {
        height: 13.05pt;
        width: 130pt;
    }
</style>
<table border="1" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="border-collapse:collapse;mso-table-layout-alt:fixed;border:none; mso-border-alt:solid windowtext .5pt;mso-yfti-tbllook:1184;mso-padding-alt: 0in 5.4pt 0in 5.4pt">
    <tr style="height:.75in">
        <td style="width:35.6pt;border:none;height:.75in" width="108"></td>
        <td colspan="5" style="border-style: none;height:.75in"></td>
    </tr>
    <tr style="mso-yfti-irow:2;height:13.85pt">
        <td style="width:35.6pt;border:none;padding:0in 5.4pt 0in 5.4pt;height:13.85pt" valign="top" width="108">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:center;line-height:normal"><span style="mso-no-proof:yes"><o:p></o:p></span></p>
        </td>
        <td colspan="5" style="border-style: none; border-color: inherit; border-width: medium; padding: .05in 5.75pt; height: 13.85pt" valign="top">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:center;line-height:normal"><b><span style="font-size:22.0pt;mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black">@Html.DisplayFor(model => model.ClientName)</span></b><span style="mso-no-proof:yes"><o:p></o:p></span></p>
        </td>
    </tr>
    <tr style="mso-yfti-irow:5;mso-yfti-lastrow:yes;height:13.05pt">
        <td style="width:35.6pt;border:none;border-style: none;padding:0in 5.4pt 0in 5.4pt;height:13.05pt" valign="top" width="108"></td>
        <td style="width:103.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-style: none;padding:.05in 5.75pt .05in 5.75pt;eight:13.05pt" valign="top" width="136"></td>
        <td style="width:30.0pt;border:none;border-style: none;padding:.05in 5.75pt .05in 5.75pt;
  height:13.05pt" valign="top" width="29"></td>
        <td class="auto-style4" style="border-bottom: solid windowtext 1.0pt;border-style: none; padding: .05in 5.75pt .05in 5.75pt; border-left-style: none; border-left-color: inherit; border-left-width: medium; border-top-style: none; border-top-color: inherit; border-top-width: medium;" valign="top"></td>
        <td style="width:27.0pt;border:none;border-style: none;padding:.05in 5.75pt .05in 5.75pt;
  height:13.05pt" valign="top" width="35"></td>
        <td class="auto-style2" style="border-bottom: solid windowtext 1.0pt; padding: .05in 5.75pt .05in 5.75pt; border-left-style: none; border-style: none; border-top-color: inherit; border-top-width: medium;" valign="top"></td>
    </tr>
    <tr style="mso-yfti-irow:4;height:13.85pt">
        <td style="width:35.6pt;border:none;border-right:solid windowtext 1.0pt;mso-border-right-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:13.85pt" valign="top" width="108">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:center;line-height:normal"><span style="font-size:12.0pt; mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>
        </td>
        <td style="width: 103.5pt; border: solid windowtext 1.0pt; border-left: none; mso-border-left-alt: solid windowtext .5pt; mso-border-alt: solid windowtext .5pt; background: #D9D9D9; mso-background-themecolor: background1; mso-background-themeshade: 217; padding: .05in 5.75pt .05in 5.75pt; height: 13.85pt" valign="top" width="136">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:center;line-height:normal"><span style="font-size:12.0pt;mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black">DATE<o:p></o:p></span></p>
        </td>
        <td style="width:30.0pt;border:none;border-top:none !important; border-right:solid windowtext 1.0pt; mso-border-left-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt;padding:.05in 5.75pt .05in 5.75pt;height:13.85pt" valign="top" width="29">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:center;line-height:normal"><o:p></o:p></p>
        </td>
        <td class="auto-style3" style="border-right: 1.0pt solid windowtext; border-top: 1.0pt solid windowtext; border-bottom: 1.0pt solid windowtext; mso-border-left-alt: solid windowtext .5pt; mso-border-alt: solid windowtext .5pt; background: #D9D9D9; mso-background-themecolor: background1; mso-background-themeshade: 217; padding: .05in 5.75pt .05in 5.75pt; border-left-style: none; border-left-color: inherit; border-left-width: medium;" valign="top">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:center;line-height:normal"><span style="font-size:12.0pt;mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black">INVOICE NO.<o:p></o:p></span></p>
        </td>
        <td style="width:27.0pt;border:none;border-right:solid windowtext 1.0pt;mso-border-left-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-right-alt:solid windowtext .5pt;padding:.05in 5.75pt .05in 5.75pt;height:13.85pt" valign="top" width="35">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:center;line-height:normal"><o:p></o:p></p>
        </td>
        <td class="auto-style1" style="border-right: 1.0pt solid windowtext; border-top: 1.0pt solid windowtext; border-bottom: 1.0pt solid windowtext; mso-border-left-alt: solid windowtext .5pt; mso-border-alt: solid windowtext .5pt; background: #D9D9D9; mso-background-themecolor: background1; mso-background-themeshade: 217; padding: .05in 5.75pt .05in 5.75pt; border-left-style: none; border-left-color: inherit; border-left-width: medium;" valign="top">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:center;line-height:normal"><span style="font-size:12.0pt;mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black">FILE NO.<o:p></o:p></span></p>
        </td>
    </tr>
    <tr style="mso-yfti-irow:5;mso-yfti-lastrow:yes;height:13.05pt">
        <td style="width:35.6pt;border:none;border-right:solid windowtext 1.0pt;mso-border-right-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:13.05pt" valign="top" width="108">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:center;line-height:normal">
                <span style="font-size:14.0pt;mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span>
            </p>
        </td>
        <td style="width:103.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;padding:.05in 5.75pt .05in 5.75pt;eight:13.05pt" valign="top" width="136">
            <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:center;line-height:normal">
                <span style="font-size:14.0pt; mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
  mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black">@Html.DisplayFor(model => model.InvoiceDate)<o:p></o:p></span>
</p>
</td>
<td style="width:30.0pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-right-alt:solid windowtext .5pt;padding:.05in 5.75pt .05in 5.75pt;
  height:13.05pt" valign="top" width="29">
    <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal">
        <o:p>&nbsp;</o:p>
    </p>
</td>
<td class="auto-style4" style="border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; mso-border-top-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt; mso-border-alt: solid windowtext .5pt; padding: .05in 5.75pt .05in 5.75pt; border-left-style: none; border-left-color: inherit; border-left-width: medium; border-top-style: none; border-top-color: inherit; border-top-width: medium;" valign="top">
    <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal">
        <span style="font-size:14.0pt;
  mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
  mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black">@Html.DisplayFor(model => model.InvoiceNumber)</span><span style="font-size:14.0pt;mso-ascii-font-family:Calibri;mso-fareast-font-family:
  &quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;
  color:black;mso-bidi-language:AR-OM"><o:p></o:p></span>
</p>
</td>
<td style="width:27.0pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-right-alt:solid windowtext .5pt;padding:.05in 5.75pt .05in 5.75pt;
  height:13.05pt" valign="top" width="35">
    <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal">
        <o:p>&nbsp;</o:p>
    </p>
</td>
<td class="auto-style2" style="border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; mso-border-top-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt; mso-border-alt: solid windowtext .5pt; padding: .05in 5.75pt .05in 5.75pt; border-left-style: none; border-left-color: inherit; border-left-width: medium; border-top-style: none; border-top-color: inherit; border-top-width: medium;" valign="top">
    <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal">
        <span style="font-size:14.0pt;
  mso-ascii-font-family:Calibri;mso-fareast-font-family:Times New Roman;
  mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black">@Html.DisplayFor(model => model.OfficeFileNo)<o:p></o:p></span>
</p>
</td>
</tr>
</table>
<p class="MsoNormal" style="text-align:center"><o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal"><span style="font-size:12.0pt;font-family:Times New Roman,serif;mso-fareast-font-family:Times New Roman;display:none;mso-hide:all"><o:p></o:p></span></p>
<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="margin-left:-.75pt;border-collapse:collapse;mso-table-layout-alt:fixed;mso-yfti-tbllook:1184;mso-padding-alt:0in 0in 0in 0in">
    <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;height:.4in">
        <td style="width:45pt;border:none;border-right:solid windowtext 2.25pt;padding:0in 0in 0in 0in;height:.4in" valign="top" width="111">
        </td>
        <td style="width: 103.5pt; border-top: solid windowtext 2.25pt; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 2.25pt; mso-border-left-alt: solid windowtext 2.25pt; mso-border-alt: solid windowtext 2.25pt; mso-border-bottom-alt: solid windowtext .5pt; background: #D9D9D9; mso-background-themecolor: background1; mso-background-themeshade: 217; padding: .7pt .7pt .7pt .05in; height: .4in" width="136">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal">
                @if (Model.CaseAgainstCode == "3")
                {
                    <span style="font-size:12.0pt;mso-ascii-font-family:Calibri;mso-fareast-font-family:Times New Roman;mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black">PLAINTIFF<o:p></o:p></span>
                }
                else
                { <span style="font-size:12.0pt;mso-ascii-font-family:Calibri;mso-fareast-font-family:Times New Roman;mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black">DEFENDANT<o:p></o:p></span>
                }
            </p>
        </td>
        <td colspan="2" style="width: 230.65pt; border-top: solid windowtext 2.25pt; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; mso-border-left-alt: solid windowtext 2.25pt; mso-border-top-alt: 2.25pt; mso-border-left-alt: 2.25pt; mso-border-bottom-alt: 1.0pt; mso-border-right-alt: .5pt; mso-border-color-alt: windowtext; mso-border-style-alt: solid; background: white; mso-background-themecolor: background1; padding: .7pt .7pt .7pt .7pt; height: .4in" width="293">
            <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:8.0pt;margin-bottom:.0001pt;line-height:normal">
                <span style="font-size:12.0pt;mso-ascii-font-family:Calibri;mso-fareast-font-family:Times New Roman;mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black">@Html.DisplayFor(model => model.Defendant)<o:p></o:p></span>
            </p>
        </td>
        <td style="width: 129.35pt; border-top: solid windowtext 2.25pt; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 2.25pt; mso-border-left-alt: solid windowtext .5pt; background: white; mso-background-themecolor: background1; padding: .7pt 5.75pt .7pt .7pt; height: .4in" width="168">
            <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
  margin-left:8.0pt;margin-bottom:.0001pt;text-indent:-2.05pt;line-height:normal">
                <span style="font-size:12.0pt;mso-ascii-font-family:Calibri;mso-fareast-font-family:
  Times New Roman;mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;
  color:black">@if (!Model.CaseAgainst.Contains("PLEASE SELECT")){@Html.DisplayFor(model => model.CaseAgainst)}<o:p></o:p>
                </span>
</p>
</td>
</tr>
@if (!string.IsNullOrEmpty(Model.AccountContractNo) || !string.IsNullOrEmpty(Model.ClientFileNo))
{
<tr style="mso-yfti-irow:1;height:.4in">
    <td style="width:45pt;border:none;border-right:solid windowtext 2.25pt;padding:0in 0in 0in 0in;height:.4in" valign="top" width="111">
    </td>
    <td style="width: 103.5pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 2.25pt; mso-border-top-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext 2.25pt; background: #D9D9D9; mso-background-themecolor: background1; mso-background-themeshade: 217; padding: .7pt .7pt .7pt .05in; height: .4in" width="136">
        <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
            <span style="font-size:12.0pt;mso-ascii-font-family:Calibri;
  mso-fareast-font-family:Times New Roman;mso-hansi-font-family:Calibri;
  mso-bidi-font-family:Calibri;color:black">@ViewBag.ACCOUNTDETAILS<o:p></o:p></span>
        </p>
    </td>
    <td colspan="2" style="width: 230.65pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; mso-border-top-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext 2.25pt; mso-border-top-alt: .5pt; mso-border-left-alt: 2.25pt; mso-border-bottom-alt: 1.0pt; mso-border-right-alt: .5pt; mso-border-color-alt: windowtext; mso-border-style-alt: solid; background: white; mso-background-themecolor: background1; padding: .7pt .7pt .7pt .7pt; height: .4in" width="293">
        <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
  margin-left:8.0pt;margin-bottom:.0001pt;line-height:normal">
            <span style="font-size:12.0pt;mso-ascii-font-family:Calibri;mso-fareast-font-family:
  Times New Roman;mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;
  color:black">@Html.DisplayFor(model => model.AccountContractNo)<o:p></o:p></span>
</p>
</td>
<td style="width: 129.35pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 2.25pt; mso-border-top-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt; background: white; mso-background-themecolor: background1; padding: .7pt 5.75pt .7pt .7pt; height: .4in" width="168">
    <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
  margin-left:8.0pt;margin-bottom:.0001pt;line-height:normal">
        <span style="font-size:12.0pt;mso-ascii-font-family:Calibri;mso-fareast-font-family:
  Times New Roman;mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;
  color:black">@Html.DisplayFor(model => model.ClientFileNo)<o:p></o:p></span>
</p>
</td>
</tr>
}
<tr style="mso-yfti-irow:2;height:.4in">
    <td style="width:45pt;border:none;border-right:solid windowtext 2.25pt;padding:0in 0in 0in 0in;height:.4in" valign="top" width="111">

    </td>
    <td style="width: 103.5pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.5pt; border-right: solid windowtext 2.25pt; mso-border-top-alt: solid windowtext 1.0pt; mso-border-left-alt: solid windowtext 2.25pt; background: #D9D9D9; mso-background-themecolor: background1; mso-background-themeshade: 217; padding: .7pt .7pt .7pt .05in; height: .4in" width="136">
        <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
            <span style="font-size:12.0pt;mso-ascii-font-family:Calibri;
  mso-fareast-font-family:Times New Roman;mso-hansi-font-family:Calibri;
  mso-bidi-font-family:Calibri;color:black">COURT DETAILS<o:p></o:p></span>
        </p>
    </td>
    <td colspan="2" style="width: 230.65pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; mso-border-top-alt: solid windowtext 1.0pt; mso-border-left-alt: solid windowtext 2.25pt; mso-border-top-alt: 1.0pt; mso-border-left-alt: 2.25pt; mso-border-bottom-alt: .5pt; mso-border-right-alt: .5pt; mso-border-color-alt: windowtext; mso-border-style-alt: solid; background: white; mso-background-themecolor: background1; padding: .7pt .7pt .7pt .7pt; height: .4in" width="293">
        <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
  margin-left:8.0pt;margin-bottom:.0001pt;line-height:normal">
            <span style="font-size:12.0pt;mso-ascii-font-family:Calibri;mso-fareast-font-family:
  Times New Roman;mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;
  color:black">@ViewBag.CourtType<o:p></o:p></span>
</p>
</td>
<td style="width: 129.35pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 2.25pt; mso-border-top-alt: solid windowtext 1.0pt; mso-border-left-alt: solid windowtext .5pt; mso-border-top-alt: 1.0pt; mso-border-left-alt: .5pt; mso-border-bottom-alt: .5pt; mso-border-right-alt: 2.25pt; mso-border-color-alt: windowtext; mso-border-style-alt: solid; background: white; mso-background-themecolor: background1; padding: .7pt 5.75pt .7pt .7pt; height: .4in" width="168">
    <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
  margin-left:8.0pt;margin-bottom:.0001pt;text-indent:-2.05pt;line-height:normal">
        <span style="font-size:12.0pt;mso-ascii-font-family:Calibri;mso-fareast-font-family:
  Times New Roman;mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;
  color:black">@Html.DisplayFor(model => model.CourtRefNo)<o:p></o:p></span>
</p>
</td>
</tr>
<tr style="mso-yfti-irow:3;height:.4in">
    <td style="width:45pt;border:none;border-right:solid windowtext 2.25pt;padding:0in 0in 0in 0in;height:.4in" valign="top" width="111">
       </td>
    <td style="width: 103.5pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.5pt; border-right: solid windowtext 2.25pt; mso-border-top-alt: solid windowtext 1.0pt; mso-border-left-alt: solid windowtext 2.25pt; background: #D9D9D9; mso-background-themecolor: background1; mso-background-themeshade: 217; padding: .7pt .7pt .7pt .05in; height: .4in" width="136">
        <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
            <span style="font-size:12.0pt;mso-ascii-font-family:Calibri;
  mso-fareast-font-family:Times New Roman;mso-hansi-font-family:Calibri;
  mso-bidi-font-family:Calibri;color:black">CASE DETAILS<o:p></o:p></span>
        </p>
    </td>
    <td colspan="2" style="width: 230.65pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; mso-border-top-alt: solid windowtext 1.0pt; mso-border-left-alt: solid windowtext 2.25pt; mso-border-top-alt: 1.0pt; mso-border-left-alt: 2.25pt; mso-border-bottom-alt: .5pt; mso-border-right-alt: .5pt; mso-border-color-alt: windowtext; mso-border-style-alt: solid; background: white; mso-background-themecolor: background1; padding: .7pt .7pt .7pt .7pt; height: .4in" width="293">
        <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:8.0pt;margin-bottom:.0001pt;line-height:normal">
            <span style="font-size:12.0pt;mso-ascii-font-family:Calibri;mso-fareast-font-family:Times New Roman;mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black">
            <span>@if (!Model.CaseTypeName.Contains("PLEASE SELECT")){@ViewBag.CaseTypeName}</span>@if (Model.CaseSubjectName != "PLEASE SELECT"){@ViewBag.CaseSubjectName}<o:p></o:p></span>
        </p>
</td>
<td style="width: 129.35pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 2.25pt; mso-border-top-alt: solid windowtext 1.0pt; mso-border-left-alt: solid windowtext .5pt; mso-border-top-alt: 1.0pt; mso-border-left-alt: .5pt; mso-border-bottom-alt: .5pt; mso-border-right-alt: 2.25pt; mso-border-color-alt: windowtext; mso-border-style-alt: solid; background: white; mso-background-themecolor: background1; padding: .7pt 5.75pt .7pt .7pt; height: .4in" width="168">
    <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:8.0pt;margin-bottom:.0001pt;text-indent:-2.05pt;line-height:normal">
        <span style="font-size:12.0pt;mso-ascii-font-family:Calibri;mso-fareast-font-family:Times New Roman;mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black">
            <span>
                @if (!Model.ClientCaseTypeName.Contains("PLEASE SELECT"))
                {@ViewBag.ClientCaseTypeName}

                    @if (!Model.ODBBranchName.Contains("PLEASE SELECT"))
                    {@ViewBag.ODBBranchName}<o:p></o:p>
                </span>
        <o:p></o:p></span>
    </p>
</td>
</tr>
@if (!string.IsNullOrEmpty(Model.EnforcementStageNo))
{
    <tr style="mso-yfti-irow:4;height:.4in">
        <td style="width:45pt;border:none;border-right:solid windowtext 2.25pt; padding:0in 0in 0in 0in;height:.4in" valign="top" width="111">
        </td>
        <td style="width: 103.5pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.5pt; border-right: solid windowtext 2.25pt; mso-border-left-alt: solid windowtext 2.25pt; background: #D9D9D9; mso-background-themecolor: background1; mso-background-themeshade: 217; padding: .7pt .7pt .7pt .05in; height: .4in" width="136">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height: normal">
                <span style="font-size:12.0pt;mso-ascii-font-family:Calibri; mso-fareast-font-family:Times New Roman;mso-hansi-font-family:Calibri; mso-bidi-font-family:Calibri;color:black">ENFORCEMENT STAGE<o:p></o:p></span>
            </p>
        </td>
        <td colspan="2" style="width:230.65pt;border-top:none;border-left: none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;  mso-border-left-alt:solid windowtext 2.25pt;mso-border-left-alt:solid windowtext 2.25pt;  mso-border-bottom-alt:solid windowtext 1.0pt;mso-border-right-alt:solid windowtext .5pt;padding:.7pt .7pt .7pt .7pt;height:.4in" width="293">
            <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:8.0pt;margin-bottom:.0001pt;line-height:normal">
                <span style="font-size:12.0pt;font-family:Calibri;mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black">@Html.DisplayFor(model => model.EnforcementStageName)</span>
            </p>
        </td>
        <td style="width:129.35pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 2.25pt; mso-border-left-alt:solid windowtext .5pt;padding:.7pt 5.75pt .7pt .7pt; height:.4in" width="168">
            <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:8.0pt;margin-bottom:.0001pt;line-height:normal">            <span style="font-size:12.0pt;mso-ascii-font-family:Calibri;mso-fareast-font-family:Times New Roman;mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black">@Html.DisplayFor(model => model.EnforcementStageNo)<o:p></o:p></span> </p>
        </td>
    </tr>

}
@if (Model.ClaimAmount > 0) {
<tr style="mso-yfti-irow:5;height:.4in">
    <td style="width:45pt;border:none;border-right:solid windowtext 2.25pt;
  padding:0in 0in 0in 0in;height:.4in" valign="top" width="111">
       
    </td>
    <td style="width: 103.5pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.5pt; border-right: solid windowtext 2.25pt; mso-border-left-alt: solid windowtext 2.25pt; background: #D9D9D9; mso-background-themecolor: background1; mso-background-themeshade: 217; padding: .7pt .7pt .7pt .05in; height: .4in" width="136">
        <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
            <span style="font-size:12.0pt;mso-ascii-font-family:Calibri;
  mso-fareast-font-family:Times New Roman;mso-hansi-font-family:Calibri;
  mso-bidi-font-family:Calibri;color:black">CLAIM AMOUNT<o:p></o:p></span>
        </p>
    </td>
    <td colspan="3" style="width:5.0in;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 2.25pt;
  mso-border-left-alt:solid windowtext 2.25pt;padding:.7pt .7pt .7pt .7pt;
  height:.4in" width="461">
        <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:8.0pt;margin-bottom:.0001pt;line-height:normal">
            <span style="font-size:14.0pt;mso-ascii-font-family:Calibri;mso-fareast-font-family:Times New Roman;mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri; color:black">@ViewBag.ClaimAmount&nbsp;OMR</span>
        </p>
</td>
</tr>
}
@if (Model.FeeCaclId != null)
{
    int count = 0;

    foreach (var FeeCaclId in Model.FeeCaclId)
    {
        if (FeeCaclId.ShowInInvoice) { count++; }
    }

    if (count > 0)
    {
        <tr style="mso-yfti-irow:7;height:.4in">
            <td style="width:45pt;border:none;border-right:solid windowtext 2.25pt; padding:0in 0in 0in 0in;height:.4in" valign="top" width="111">
                <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:center;line-height:normal">
                    <span style="font-size:14.0pt;mso-ascii-font-family:Calibri;mso-fareast-font-family:Times New Roman; mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span>
                </p>
            </td>
            <td colspan="4" style="width: 463.5pt; border-top: none; border-left: none; border-bottom: solid windowtext 2.25pt; border-right: solid windowtext 2.25pt; mso-border-top-alt: solid windowtext 2.25pt; mso-border-left-alt: solid windowtext 2.25pt; background: #D9D9D9; mso-background-themecolor: background1; mso-background-themeshade: 217; padding: .7pt .7pt .7pt .7pt; height: .4in" width="597">
                <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:center;line-height:normal">
                    <span style="font-size:14.0pt;mso-ascii-font-family:Calibri;mso-fareast-font-family:Times New Roman;  mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black">CALCULATION<o:p></o:p></span>
                </p>
            </td>
        </tr>
    }

    if (count > 0)
    {
        foreach (var FeeCaclId in Model.FeeCaclId)
        {
            @Html.Partial("_CaseInvoiceFeeCalcPrint", FeeCaclId)

        }
    }
}
<tr style="mso-yfti-irow:7;height:.4in">
    <td style="width:45pt;border:none;border-right:solid windowtext 2.25pt; padding:0in 0in 0in 0in;height:.4in" valign="top" width="111">
    </td>
    <td colspan="4" style="width: 463.5pt; border-top: none; border-left: none; border-bottom: solid windowtext 2.25pt; border-right: solid windowtext 2.25pt; mso-border-top-alt: solid windowtext 2.25pt; mso-border-left-alt: solid windowtext 2.25pt; background: #D9D9D9; mso-background-themecolor: background1; mso-background-themeshade: 217; padding: .7pt .7pt .7pt .7pt; height: .4in" width="597">
        <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:center;line-height:normal">
            <span style="font-size:14.0pt;mso-ascii-font-family:Calibri;mso-fareast-font-family:Times New Roman;  mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black">DESCRIPTION<o:p></o:p></span>
        </p>
    </td>
</tr>
@if (Model.FeeId != null)
{
    foreach (var FeeId in Model.FeeId)
    {
        @Html.Partial("_CaseInvoiceFeePrint", FeeId)
    }
}
<tr style="mso-yfti-irow:10;height:.4in">
    <td style="width:45pt;border:none;border-right:solid windowtext 2.25pt;
  padding:0in 0in 0in 0in;height:.4in" valign="top" width="111">
       
    </td>
    <td colspan="4" style="width: 463.5pt; border-top: none; border-left: none; border-bottom: solid windowtext 2.25pt; border-right: solid windowtext 2.25pt; mso-border-top-alt: solid windowtext 2.25pt; mso-border-left-alt: solid windowtext 2.25pt; background: #D9D9D9; mso-background-themecolor: background1; mso-background-themeshade: 242; padding: .7pt .7pt .7pt .7pt; height: .4in" width="597">
        <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal">
            <span style="font-size:14.0pt;
  mso-ascii-font-family:Calibri;mso-fareast-font-family:Times New Roman;
  mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black">TOTAL AMOUNT<o:p></o:p></span>
        </p>
    </td>
</tr>
<tr style="mso-yfti-irow:11;height:29.7pt">
    <td style="width:45pt;border:none;border-right:solid windowtext 2.25pt;
  padding:0in 0in 0in 0in;height:29.7pt" valign="top" width="111">
       
    </td>
    <td colspan="3" style="width:334.15pt;border-top:none;border-left:none;border-bottom:solid windowtext 2.25pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext 2.25pt;mso-border-left-alt:solid windowtext 2.25pt; mso-border-alt:solid windowtext 2.25pt;mso-border-right-alt:solid windowtext .25pt; padding:.7pt .7pt .7pt .7pt;height:29.7pt" width="428">
        <p class="MsoNormal" style="margin-left:8.0pt;margin-bottom:0in;margin-bottom:.0001pt;line-height: normal">
            <span style="font-size:14.0pt;mso-ascii-font-family:Calibri; mso-fareast-font-family:Times New Roman;mso-hansi-font-family:Calibri; mso-bidi-font-family:Calibri;color:black">@ViewBag.InvAmtinWords<o:p></o:p></span>
        </p>
    </td>
<td style="width:129.35pt;border:solid windowtext 2.25pt;
  border-left:none;mso-border-left-alt:solid windowtext .25pt;padding:.7pt .7pt .7pt .7pt;
  height:29.7pt" width="168">
    <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal">
        <b>
            <span style="font-size:16.0pt;
  mso-ascii-font-family:Calibri;mso-fareast-font-family:Times New Roman;
  mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black">@ViewBag.InvoiceAmount<o:p>&nbsp;OMR</o:p></span>
</b>
</p>
</td>
</tr>
<tr style="mso-yfti-irow:12;height:29.7pt">
    <td style="width:45pt;padding:0in 0in 0in 0in; height:29.7pt" valign="top" width="111">
       
    </td>
    <td colspan="3" style="width:334.15pt;border:none;border-bottom:solid windowtext 2.25pt;
  padding:.7pt .7pt .7pt .7pt;height:29.7pt" width="428">
        <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
            <span style="font-size:14.0pt;mso-ascii-font-family:Calibri;
  mso-fareast-font-family:Times New Roman;mso-hansi-font-family:Calibri;
  mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span>
        </p>
    </td>
    <td style="width:129.35pt;border:none;border-bottom:solid windowtext 2.25pt;
  padding:.7pt .7pt .7pt .7pt;height:29.7pt" width="168">
        <p align="center" class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal">
            <b>
                <span style="font-size:16.0pt;
  mso-ascii-font-family:Calibri;mso-fareast-font-family:Times New Roman;
  mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span>
            </b>
        </p>
    </td>
</tr>
<tr style="mso-yfti-irow:13;height:29.7pt">
    <td style="width:45pt;border:none;border-right:solid windowtext 2.25pt; padding:0in 0in 0in 0in;height:29.7pt" valign="top" width="111">
       
    </td>
    <td colspan="4" style="width: 463.5pt; border-top: none; border-left: none; border-bottom: solid windowtext 2.25pt; border-right: solid windowtext 2.25pt; mso-border-top-alt: solid windowtext 2.25pt; mso-border-left-alt: solid windowtext 2.25pt; background: #D9D9D9; mso-background-themecolor: background1; mso-background-themeshade: 217; padding: .7pt .7pt .7pt .7pt; height: 29.7pt" valign="bottom" width="597">
        <p align="center" class="MsoNormal" style="text-align:center;line-height:normal">
            <b>
                <span style="font-size:12.0pt;mso-ascii-font-family:Calibri;mso-fareast-font-family:Times New Roman;mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black">
                    <span style="mso-spacerun:yes">TRANSFER THE INVOICE AMOUNT TO&nbsp;@Html.DisplayFor(model => model.CreditAccountName)</span>
                </span>
            </b>
        </p>
    </td>
</tr>
<tr style="mso-yfti-irow:14;mso-yfti-lastrow:yes">
    <td style="width:45pt;padding:0in 0in 0in 0in" valign="top" width="111">
      
    </td>
    <td style="width:103.5pt;border:none;mso-border-top-alt:solid windowtext 2.25pt;
  padding:.7pt .7pt .7pt .7pt" width="136"></td>
    <td style="width:29.95pt;border:none;border-top:solid windowtext 2.25pt;
  padding:.7pt .7pt .7pt .7pt" width="39"></td>
    <td style="width:200.7pt;border:none;border-top:solid windowtext 2.25pt;
  padding:.7pt .7pt .7pt .7pt" width="254"></td>
    <td style="width:129.35pt;border:none;border-top:solid windowtext 2.25pt;
  padding:.7pt .7pt .7pt .7pt" width="168"></td>
</tr>

</table>
<script type="text/javascript">
    window.addEventListener("load", window.print());
</script>
