@model YandS.UI.Models.CaseInvoice
@if (Model.ClientName.ToUpper().Trim() == "BANK MUSCAT" || Model.ClientName.ToUpper().Trim() == "MEETHAQ ISLAMIC BANKING")
{
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style5" colspan="23" rowspan="2">@Html.DisplayFor(model => model.ClientName)</td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style6" colspan="23">VATIN : OM1100012379</td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
}
else if (Model.ClientName.ToUpper().Trim() == "OMANTEL")
{
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style5" colspan="23" rowspan="2">OMAN TELECOMMUNICATIONS COMPANY SAOG</td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style6" colspan="23">VATIN : OM1100006083</td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style6" colspan="23">GHALA, MUSCAT OMAN</td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
}
else if (Model.ClientName.ToUpper().Trim() == "OMAN ARAB BANK")
{
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style5" colspan="23" rowspan="2">@Html.DisplayFor(model => model.ClientName)</td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style6" colspan="23">VATIN : OM1100005523</td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
}
else if (Model.ClientName.ToUpper().Trim() == "HSBC-OMAN")
{
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style5" colspan="23" rowspan="2">@Html.DisplayFor(model => model.ClientName)</td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style6" colspan="23">VATIN : OM1100000925</td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
}
else if (Model.ClientName.ToUpper().Trim() == "SAIPEM SPA - OMAN BRANCH")
{
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style5" colspan="23" rowspan="2">SAIPEM S.P.A - OMAN BRANCH</td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style6" colspan="23">VATIN : OM1100031115</td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style6" colspan="23">MAJAN HOUSE, FIRST FLOOR</td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style6" colspan="23">OFFICE NO. 102</td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style6" colspan="23">P.O. BOX 661, P.C. 133</td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style6" colspan="23">AL KHUWAIR, SULTANATE OF OMAN</td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
}
else if (Model.ClientName.ToUpper().Trim() == "TILAL DEVELOPMENT COMPANY")
{
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style5" colspan="23" rowspan="2">TILAL DEVELOPMENT COMPANY SAOC</td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style6" colspan="23">VATIN : OM110007481X</td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
}
else if (Model.ClientName.ToUpper().Trim() == "AL MADINA - REAL STATE")
{
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style5" colspan="23" rowspan="2">ALMADINA REAL ESTATE COMPANY SAOC</td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style6" colspan="23">VATIN : OM1100123183</td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
}
else if (Model.ClientName.ToUpper().Trim() == "SOHAR INTERNATIONAL")
{
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style5" colspan="23" rowspan="2">@Html.DisplayFor(model => model.ClientName)</td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style6" colspan="23">VATIN : OM110000378X</td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
}
else if (Model.ClientName.ToUpper().Trim() == "SOHAR ISLAMIC")
{
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style5" colspan="23" rowspan="2">@Html.DisplayFor(model => model.ClientName)</td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style6" colspan="23">VATIN : OM110000378X</td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
}
else if (Model.ClientName.ToUpper().Trim() == "NATIONAL ENGINEERING SERVICES PAKISTAN AND PARTNERS LLC")
{
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style5" colspan="23" rowspan="2">@Html.DisplayFor(model => model.ClientName)</td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style6" colspan="23">VATIN : OM110005400X</td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
}
else if (Model.ClientName.ToUpper().Trim() == "OMASCO")
{
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style5" colspan="23" rowspan="2">OMAN MARKETING AND SERVICES COMPANY LLC</td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style6" colspan="23">VATIN : OM1100002437</td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style6" colspan="23">TAX CARD NO. : 8093935</td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style6" colspan="23">C.R. NO. : 1015354</td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style6" colspan="23">PO BOX 2734, PO CODE 112 RUWI</td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style6" colspan="23">MUSCAT, SULTANATE OF OMAN</td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
}
else if (Model.ClientName.ToUpper().Trim() == "FIRST ABU DHABI BANK")
{
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style5" colspan="23" rowspan="2">FIRST ABU DHABI BANK</td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style6" colspan="23">VATIN : OM1100005291</td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
}

else
{
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style5" colspan="23" rowspan="2">@Html.DisplayFor(model => model.ClientName)</td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
    <tr height="29" style="mso-height-source:userset;height:21.95pt">
        <td class="auto-style3" height="29"></td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
        <td class="auto-style4"></td>
    </tr>
}