@model YandS.UI.Models.PayVoucher
<style type="text/css">

    table.MsoTableGrid {
        border: solid windowtext 1.0pt;
        font-size: 11.0pt;
        font-family: "Calibri","sans-serif";
    }

    p.MsoNormal {
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 8.0pt;
        margin-left: 0in;
        line-height: 107%;
        font-size: 11.0pt;
        font-family: "Calibri","sans-serif";
    }

    h3 {
        margin-right: 0in;
        margin-left: 0in;
        font-size: 13.5pt;
        font-family: "Times New Roman","serif";
    }
</style>
<div>

    <table border="1" cellpadding="0" cellspacing="0" class="MsoTableGrid" style="border-collapse:collapse;mso-table-layout-alt:fixed;border:none;
 mso-border-bottom-alt:solid windowtext .5pt;mso-yfti-tbllook:1184;mso-padding-alt:
 1.45pt 2.9pt 1.45pt 2.9pt;mso-border-insideh:none;mso-border-insidev:none">
        <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;height:22.5pt">
            <td style="width:31.5pt;border:none;padding:1.45pt 2.9pt 1.45pt 2.9pt;
  height:22.5pt" width="42">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <o:p>&nbsp;</o:p>
                </p>
            </td>
            <td rowspan="2" style="width:139.5pt;border:none;padding:1.45pt 2.9pt 1.45pt 2.9pt;
  height:22.5pt" width="186">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;tab-stops:148.5pt"><img style="height:45pt; width:150pt" src="~/Content/Images/LogoS-removebg3.png" />
                   
                </p>
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;tab-stops:148.5pt">
                   
                </p>
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <o:p>&nbsp;</o:p>
                </p>
            </td>
            <td style="width:1.0in;border:none;padding:1.45pt 2.9pt 1.45pt 2.9pt;
  height:22.5pt" width="96">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <o:p>&nbsp;</o:p>
                </p>
            </td>
            <td style="width:346.25pt;border:none;padding:1.45pt 2.9pt 1.45pt 2.9pt;
  height:22.5pt" width="462">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <o:p>&nbsp;</o:p>
                </p>
            </td>
        </tr>
        <tr style="mso-yfti-irow:1;height:42.1pt">
            <td style="width:31.5pt;border:none;padding:1.45pt 2.9pt 1.45pt 2.9pt;
  height:42.1pt" width="42">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <o:p>&nbsp;</o:p>
                </p>
            </td>
            <td style="width:1.0in;border:none;padding:1.45pt 2.9pt 1.45pt 2.9pt;
  height:42.1pt" width="96">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <o:p>&nbsp;</o:p>
                </p>
            </td>
            <td style="width:346.25pt;border:none;padding:1.45pt 2.9pt 1.45pt 2.9pt;
  height:42.1pt" width="462">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <b><span style="font-size:20.0pt;font-family:Source Sans Pro sans-serif">INTRA – TRANSACTION</span></b><o:p></o:p>
                </p>
            </td>
        </tr>
        <tr style="mso-yfti-irow:2;mso-yfti-lastrow:yes;height:22.5pt">
            <td style="width:31.5pt;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:1.45pt 2.9pt 1.45pt 2.9pt;
  height:22.5pt" width="42">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <o:p>&nbsp;</o:p>
                </p>
            </td>
            <td style="width:139.5pt;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:1.45pt 2.9pt 1.45pt 2.9pt;
  height:22.5pt" width="186">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <o:p>&nbsp;</o:p>
                </p>
            </td>
            <td style="width:1.0in;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:1.45pt 2.9pt 1.45pt 2.9pt;
  height:22.5pt" width="96">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <o:p>&nbsp;</o:p>
                </p>
            </td>
            <td style="width:346.25pt;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:1.45pt 2.9pt 1.45pt 2.9pt;
  height:22.5pt" width="462">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <o:p>&nbsp;</o:p>
                </p>
            </td>
        </tr>
    </table>
    <p class="MsoNormal">
        <o:p>&nbsp;</o:p>
    </p>
    <p class="MsoNormal">
        <o:p>&nbsp;</o:p>
    </p>
    <table border="0" cellpadding="0" cellspacing="0" class="MsoTableGrid" style="border-collapse:collapse;mso-table-layout-alt:fixed;border:none;
 mso-yfti-tbllook:1184;mso-padding-alt:.7pt 2.15pt .7pt 2.15pt;mso-border-insideh:
 none;mso-border-insidev:none">
        <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;height:33.35pt">
            <td style="width:31.5pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;padding:.7pt 2.15pt .7pt 2.15pt;
  height:33.35pt" width="42">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <o:p>&nbsp;</o:p>
                </p>
            </td>
            <td style="width: 2.25in; border: solid windowtext 1.0pt; border-left: none; mso-border-left-alt: solid windowtext .5pt; mso-border-alt: solid windowtext .5pt; background: #D9D9D9; mso-background-themecolor: background1; mso-background-themeshade: 217; padding: .7pt 2.15pt .7pt 2.15pt; height: 33.35pt" width="216">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <b><span style="font-size:15.0pt">I – TRANSACTION NO.<o:p></o:p></span></b>
                </p>
            </td>
            <td colspan="3" style="width:382.5pt;border:solid windowtext 1.0pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:.7pt 2.15pt .7pt 2.15pt;height:33.35pt" width="510">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <b><span style="font-size:15.0pt">@Html.DisplayFor(model => model.PV_No)<o:p></o:p></span></b>
                </p>
            </td>
        </tr>
        <tr style="mso-yfti-irow:1;height:33.35pt">
            <td style="width:31.5pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;padding:.7pt 2.15pt .7pt 2.15pt;
  height:33.35pt" width="42">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <o:p>&nbsp;</o:p>
                </p>
            </td>
            <td style="width: 2.25in; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; mso-border-top-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt; mso-border-alt: solid windowtext .5pt; background: #D9D9D9; mso-background-themecolor: background1; mso-background-themeshade: 217; padding: .7pt 2.15pt .7pt 2.15pt; height: 33.35pt" width="216">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <b><span style="font-size:15.0pt">I – TRANSACTION DATE<o:p></o:p></span></b>
                </p>
            </td>
            <td style="width:2.0in;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:.7pt 2.15pt .7pt 2.15pt;height:33.35pt" width="192">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <b><span style="font-size:15.0pt">@Html.DisplayFor(model => model.Cheque_Date)<o:p></o:p></span></b>
                </p>
            </td>
            <td style="width: 1.25in; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; mso-border-top-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt; mso-border-alt: solid windowtext .5pt; background: #D9D9D9; mso-background-themecolor: background1; mso-background-themeshade: 217; padding: .7pt 2.15pt .7pt 2.15pt; height: 33.35pt" width="120">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <b><span style="font-size:15.0pt">CREATED BY<o:p></o:p></span></b>
                </p>
            </td>
            <td style="width:148.5pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:.7pt 2.15pt .7pt 2.15pt;
  height:33.35pt" width="198">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <b><span style="font-size:15.0pt">@Html.DisplayFor(model => model.CreatedByLoginId)<o:p></o:p></span></b>
                </p>
            </td>
        </tr>
        <tr style="mso-yfti-irow:2;height:33.35pt">
            <td style="width:31.5pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;padding:.7pt 2.15pt .7pt 2.15pt;
  height:33.35pt" width="42">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <o:p>&nbsp;</o:p>
                </p>
            </td>
            <td style="width: 2.25in; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; mso-border-top-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt; mso-border-alt: solid windowtext .5pt; background: #D9D9D9; mso-background-themecolor: background1; mso-background-themeshade: 217; padding: .7pt 2.15pt .7pt 2.15pt; height: 33.35pt" valign="top" width="216">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <b><span style="font-size:15.0pt">REASON<o:p></o:p></span></b>
                </p>
            </td>
            <td colspan="3" style="width:382.5pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:.7pt 2.15pt .7pt 2.15pt;
  height:33.35pt" width="510">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <b><span style="font-size:15.0pt">@Html.DisplayFor(model => model.TransReasonName)<o:p></o:p></span></b>
                </p>
            </td>
        </tr>
        <tr style="mso-yfti-irow:3;height:33.35pt">
            <td style="width:31.5pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;padding:.7pt 2.15pt .7pt 2.15pt;
  height:33.35pt" width="42">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <o:p>&nbsp;</o:p>
                </p>
            </td>
            <td style="width: 2.25in; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; mso-border-top-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt; mso-border-alt: solid windowtext .5pt; background: #D9D9D9; mso-background-themecolor: background1; mso-background-themeshade: 217; padding: .7pt 2.15pt .7pt 2.15pt; height: 33.35pt" valign="top" width="216">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <b><span style="font-size:15.0pt">MODE<o:p></o:p></span></b>
                </p>
            </td>
            <td colspan="3" style="width:382.5pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:.7pt 2.15pt .7pt 2.15pt;
  height:33.35pt" width="510">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <b><span style="font-size:15.0pt">@Html.DisplayFor(model => model.PaymentModeName)<o:p></o:p></span></b>
                </p>
            </td>
        </tr>
        <tr style="mso-yfti-irow:4;height:33.35pt">
            <td style="width:31.5pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;padding:.7pt 2.15pt .7pt 2.15pt;
  height:33.35pt" width="42">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <o:p>&nbsp;</o:p>
                </p>
            </td>
            <td style="width: 2.25in; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; mso-border-top-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt; mso-border-alt: solid windowtext .5pt; background: #D9D9D9; mso-background-themecolor: background1; mso-background-themeshade: 217; padding: .7pt 2.15pt .7pt 2.15pt; height: 33.35pt" valign="top" width="216">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <b><span style="font-size:15.0pt">TRANSACTION FROM<o:p></o:p></span></b>
                </p>
            </td>
            <td colspan="3" style="width:382.5pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:.7pt 2.15pt .7pt 2.15pt;
  height:33.35pt" width="510">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <b><span style="font-size:15.0pt">@Html.DisplayFor(model => model.DebitAccountName)<o:p></o:p></span></b>
                </p>
            </td>
        </tr>
        <tr style="mso-yfti-irow:5;height:33.35pt">
            <td style="width:31.5pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;padding:.7pt 2.15pt .7pt 2.15pt;
  height:33.35pt" width="42">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <o:p>&nbsp;</o:p>
                </p>
            </td>
            <td style="width: 2.25in; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; mso-border-top-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt; mso-border-alt: solid windowtext .5pt; background: #D9D9D9; mso-background-themecolor: background1; mso-background-themeshade: 217; padding: .7pt 2.15pt .7pt 2.15pt; height: 33.35pt" valign="top" width="216">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <b><span style="font-size:15.0pt">TRANSACTION TO<o:p></o:p></span></b>
                </p>
            </td>
            <td colspan="3" style="width:382.5pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:.7pt 2.15pt .7pt 2.15pt;
  height:33.35pt" width="510">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <b><span style="font-size:15.0pt">@Html.DisplayFor(model => model.CreditAccountName)<o:p></o:p></span></b>
                </p>
            </td>
        </tr>
        <tr style="mso-yfti-irow:6;height:33.35pt">
            <td style="width:31.5pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;padding:.7pt 2.15pt .7pt 2.15pt;
  height:33.35pt" width="42">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <o:p>&nbsp;</o:p>
                </p>
            </td>
            <td style="width: 2.25in; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; mso-border-top-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt; mso-border-alt: solid windowtext .5pt; background: #D9D9D9; mso-background-themecolor: background1; mso-background-themeshade: 217; padding: .7pt 2.15pt .7pt 2.15pt; height: 33.35pt" valign="top" width="216">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <b><span style="font-size:15.0pt">REMARKS<o:p></o:p></span></b>
                </p>
            </td>
            <td colspan="3" style="width:382.5pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:.7pt 2.15pt .7pt 2.15pt;
  height:33.35pt" width="510">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <b><span style="font-size:15.0pt">@Html.DisplayFor(model => model.Remarks)<o:p></o:p></span></b>
                </p>
            </td>
        </tr>
        <tr style="mso-yfti-irow:7;mso-yfti-lastrow:yes;height:33.35pt">
            <td style="width:31.5pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;padding:.7pt 2.15pt .7pt 2.15pt;
  height:33.35pt" width="42">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <o:p>&nbsp;</o:p>
                </p>
            </td>
            <td style="width: 2.25in; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; mso-border-top-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt; mso-border-alt: solid windowtext .5pt; background: #D9D9D9; mso-background-themecolor: background1; mso-background-themeshade: 217; padding: .7pt 2.15pt .7pt 2.15pt; height: 33.35pt" valign="top" width="216">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <b><span style="font-size:15.0pt">AMOUNT<o:p></o:p></span></b>
                </p>
            </td>
            <td colspan="3" style="width:382.5pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:.7pt 2.15pt .7pt 2.15pt;
  height:33.35pt" width="510">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <b><span style="font-size:15.0pt">@Html.DisplayFor(model => model.Amount)&nbsp;OMR<o:p></o:p></span></b>
                </p>
            </td>
        </tr>
    </table>
    <p class="MsoNormal">
        <o:p>&nbsp;</o:p>
    </p>
    <table border="0" cellpadding="0" cellspacing="0" class="MsoTableGrid" style="border-collapse:collapse;mso-table-layout-alt:fixed;border:none;
 mso-yfti-tbllook:1184;mso-padding-alt:0in 2.9pt 0in 2.9pt;mso-border-insideh:
 none;mso-border-insidev:none">
        <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;height:36.85pt">
            <td colspan="5" style="width:8.0in;padding:0in 2.9pt 0in 2.9pt;
  height:36.85pt" width="768">
                <h3 align="center" style="margin-top:0in;text-align:center"><span style="font-size:18.0pt;font-family:&quot;Source Sans Pro&quot;,&quot;sans-serif&quot;">TRANSACTION DETAILS<o:p></o:p></span></h3>
            </td>
        </tr>
        <tr style="mso-yfti-irow:1;height:.4in">
            <td style="width:31.5pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0in 2.9pt 0in 2.9pt;
  height:.4in" width="42">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <o:p>&nbsp;</o:p>
                </p>
            </td>
            <td style="width: 188.75pt; border: solid windowtext 1.0pt; border-left: none; mso-border-left-alt: solid windowtext .5pt; mso-border-alt: solid windowtext .5pt; background: #D9D9D9; mso-background-themecolor: background1; mso-background-themeshade: 217; padding: 0in 2.9pt 0in 2.9pt; height: .4in" valign="top" width="252">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <b><span style="font-size:15.0pt">APPROVED BY<o:p></o:p></span></b>
                </p>
            </td>
            <td style="width:63.25pt;border:solid windowtext 1.0pt;border-left:
  none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 2.9pt 0in 2.9pt;height:.4in" width="84">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <b><span style="font-size:15.0pt">@Html.DisplayFor(model => model.AuthorizeByLoginId)</span></b><o:p></o:p>
                </p>
            </td>
            <td style="width: 1.5in; border: solid windowtext 1.0pt; border-left: none; mso-border-left-alt: solid windowtext .5pt; mso-border-alt: solid windowtext .5pt; background: #D9D9D9; mso-background-themecolor: background1; mso-background-themeshade: 217; padding: 0in 2.9pt 0in 2.9pt; height: .4in" width="144">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <b><span style="font-size:15.0pt">CHQ/TRAN. NO.</span></b><o:p></o:p>
                </p>
            </td>
            <td style="width:184.5pt;border:solid windowtext 1.0pt;border-left:
  none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 2.9pt 0in 2.9pt;height:.4in" width="246">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal">
                    <b><span style="font-size:15.0pt"> @Html.DisplayFor(model => model.Cheque_Number)</span></b><o:p></o:p>
                </p>
            </td>
        </tr>
        <tr style="mso-yfti-irow:2;height:.4in">
            <td style="width:31.5pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0in 2.9pt 0in 2.9pt;height:.4in" width="42">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <o:p>&nbsp;</o:p>
                </p>
            </td>
            <td style="width: 188.75pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; mso-border-top-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt; mso-border-alt: solid windowtext .5pt; background: #D9D9D9; mso-background-themecolor: background1; mso-background-themeshade: 217; padding: 0in 2.9pt 0in 2.9pt; height: .4in" valign="top" width="252">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <b><span style="font-size:15.0pt">WITHDRAWAL BANK<o:p></o:p></span></b>
                </p>
            </td>
            <td colspan="3" style="width:355.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 2.9pt 0in 2.9pt;height:.4in" width="474">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <b><span style="font-size:15.0pt">@Html.DisplayFor(model => model.DebitAccountName)</span></b><o:p></o:p>
                </p>
            </td>
        </tr>
        <tr style="mso-yfti-irow:3;mso-yfti-lastrow:yes;height:.4in">
            <td style="width:31.5pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;
  padding:0in 2.9pt 0in 2.9pt;height:.4in" width="42">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <o:p>&nbsp;</o:p>
                </p>
            </td>
            <td style="width: 188.75pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; mso-border-top-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt; mso-border-alt: solid windowtext .5pt; background: #D9D9D9; mso-background-themecolor: background1; mso-background-themeshade: 217; padding: 0in 2.9pt 0in 2.9pt; height: .4in" valign="top" width="252">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <b><span style="font-size:15.0pt">DEPOSIT TO<o:p></o:p></span></b>
                </p>
            </td>
            <td colspan="3" style="width:355.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 2.9pt 0in 2.9pt;height:.4in" width="474">
                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal">
                    <b><span style="font-size:15.0pt">@Html.DisplayFor(model => model.CreditAccountName)</span></b><o:p></o:p>
                </p>
            </td>
        </tr>
    </table>
    <p class="MsoNormal">
        <o:p>&nbsp;</o:p>
    </p>

</div>

<script type="text/javascript">
    window.addEventListener("load", window.print());
</script>
